html {padding: 0; margin: 0}
body {padding: 0; margin: 0; font-family: 'PT Sans', sans-serif;}

a {color:#1a7cc8; text-decoration: none;}
a:visited {color:#1a7cc8;}

.grid {max-width: 960px; margin: 0 auto;}
.large-button {font-size: 32px; padding: 11px 0; margin: 30px auto 20px; color: white; width: 500px; border-radius: 2px; background-image: linear-gradient(to bottom, #208bcd, #1971bf); box-shadow: 0 13px 20px 0 #97d3ff, inset 0 1px 0 0 #55a6d8;}
.button:hover {cursor: pointer;}
.page-content {background-image: radial-gradient(circle at 49% 0, rgba(0, 23, 43, 0.72), rgba(0, 26, 49, 0.0)), linear-gradient(to bottom, #0a3762, #011326);}

header {width: 100%; height: 100px; background-image: linear-gradient(to top, #073562, #0a4c8c);}
header > .grid > .logo {padding: 6px 0; display: inline-block; z-index: 1;}
header > .grid > .logo > object {pointer-events: none; z-index: -1;}
header > .grid > .links {float: right; margin: 39px 0;}
header > .grid > .links a, header > .grid > .links > .login {width: 99px; height: 21px; font-size: 20px; line-height: 1; color: #ffffff; font-family: 'PT Sans'; text-decoration: none; margin: 0 10px;}
header > .grid > .links a.selected {font-weight: bold;}
header > .grid > .links > .login {text-align: center; display: inline-block; border-radius: 1px; background-image: linear-gradient(to bottom, #208acd, #1971bf); box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5), inset 0 1px 0 0 #55a6d8; padding: 4px 0;}
header > .grid > .links > .login:hover {cursor: pointer;}
header > .grid > .links > .logout {border-radius: 2px; border: solid 1px rgba(255,255,255,0.3); padding: 4px 15px; margin: 0;}

header > .login-form {display: none; position: absolute; z-index: 4; margin: -36px 0 0; box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5); width: 300px;}
header > .login-form:focus {display: block; outline: none; cursor: default;}
header > .login-form .arrow-up { width: 0; height: 0; border-left: 15px solid transparent; border-right: 15px solid transparent; border-bottom: 15px solid white; margin: 0 auto; }
header > .login-form > .content {text-align: center; width: 300px; height: 175px; border-radius: 4px; background-color: #ffffff;}
header > .login-form > .content > .text {padding: 23px 0 0; font-size: 16px; margin: 0 auto 11px;}
header > .login-form > .content > .buttons {}
.social-width-button {display: inline-block; width: 130px; height: 32px; vertical-align: top; border-radius: 2px;}
.social-width-button:hover {cursor: pointer;}
.social-width-button > a {display: inline-block; color: white; font-size: 16px; font-weight: normal;}
.social-width-button > a > img {display: inline-block;}
.social-width-button > a > span {display: inline-block; margin: 6px 0 0; vertical-align: top;}
.facebook-width-button {background-color: #3c5a99;}
.facebook-width-button img {height: 20px; margin: 6px 19.6px 6px 0;}
.vk-width-button {background-color: #4c6c91; margin: 0 0 0 10px;}
.vk-width-button img {height: 12.5px; margin: 10px 13.1px 0 0;}

section.memberinfo {background-color: #ffffff; font-size: 20px;}
section.memberinfo > .grid {margin: 15px auto;}
section.memberinfo > .grid > * {display: inline-block; vertical-align: middle; line-height: 2.5;}
section.memberinfo > .grid > .member-id {font-weight: 600;}
section.memberinfo > .grid > .avatar {width: 42px; height: 42px; background-color: gainsboro; border-radius: 40px; margin: 0 9px 0 20px; background-size: contain;}
section.memberinfo > .grid > .bio {font-weight: 600;}
section.memberinfo > .grid > .bio a {color: black; border-bottom: 1px solid rgba(0,0,0,0.2);}
section.memberinfo > .grid > .bio a:hover {border-bottom: 1px solid rgba(0,0,0,1);}
section.memberinfo > .grid > .results {float: right;}
section.memberinfo > .grid > .results > div {display: inline-block; vertical-align: middle; margin: 0 14px;}
section.memberinfo > .grid > .results > div:last-of-type {margin: 0 0 0 14px;}

.slider {padding: 0 0 39px 0;}
.slider > .arrow-left {margin: 0 15px 0 0; visibility: hidden;}
.slider > .slider-wrap {width: 850px; height: 380px; overflow: hidden; display: inline-block; vertical-align: middle; position: relative;}
.slider > .slider-wrap > .slider-content > div:hover {cursor: pointer;}
.slider > .arrow-right {-webkit-transform: rotate(180deg); transform: rotate(180deg); margin: 0 0 0 15px;}
.slider > .arrow-left,
.slider > .arrow-right {display: inline-block; vertical-align: middle; z-index: 1; visibility: hidden;}
.slider > .arrow-left:hover,
.slider > .arrow-right:hover {cursor: pointer;}
.slider > .arrow-left > object,
.slider > .arrow-right > object {pointer-events: none; z-index: -1;}
.slider-content {height: 380px; width: 1140px; position: absolute;}    
.slider-content > div:not(.nothing-here) {display: inline-block; float: left; margin: 0 0 0 20px; width: 270px; height: 380px;}
.slider-content > div:first-of-type {margin: 0;}    
.slider-content > div.material > .image {width: 270px; height: 170px; background-color: gainsboro; background-size: cover;}
.slider-content > div.material > .content {width: 224px; height: 167px; background-color: white; padding: 25px 23px 18px; text-align: left; font-size: 15px; color: black;}
.slider-content > div.material > .content > .title {color: #1177c6; text-align: left; font-weight: bold; font-size: 20px; height: 63px; overflow: hidden;}
.slider-content > div.material > .content > .userinfo {margin: 9px auto 28px;}
.slider-content > div.material > .content > .userinfo > .error-status {color: #fa695f;}
.slider-content > div.material > .content > .userinfo > .bio {line-height: 1.4; display: inline-block;}
.slider-content > div.material > .content > .userinfo > .amount {font-weight: bold; opacity: 0.5; float: right;}
.slider-content > div.material > .content > .userinfo-short {margin: 9px auto;}
.slider-content > div.material > .content > .task {}
.slider-content > div.material > .content > .taskinfo {opacity: 0.5; margin: 6px 0 0;}
.slider-content > div.material > .content > .taskinfo > .type {display: inline-block;}
.slider-content > div.material > .content > .taskinfo > .amount {float: right;}
    
.top-parallelepiped {margin: 0 -660px 0 0;}
.bottom-parallelepiped {margin: 0 0 -5px -660px; -webkit-transform: rotate(180deg); transform: rotate(180deg);}

footer {padding: 52px 0 0; background-image: radial-gradient(circle at 50% 0, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.0)), linear-gradient(to bottom, #083966, #011326);}
footer > .grid {}
footer > .grid > .top {font-size: 20px;}
footer > .grid > .top > * {display: inline-block; vertical-align: top;}
footer > .grid > .top > .logo {width: 313px; height: 150px;}
footer > .grid > .top > .logo > object {}
footer > .grid > .top > .navigation {}
footer > .grid > .top > .navigation > div {display: inline-block; vertical-align: top; margin: 0 0 0 30px;}
footer > .grid > .top > .navigation > div > a {display: block; line-height: 1.5; color: #eeeeee; text-decoration: none;}
footer > .grid > .bottom {margin: 24px 0 0; text-align: right;}
footer > .grid > .bottom > * {display: inline-block; vertical-align: bottom;}
footer > .grid > .bottom > .text {opacity: 0.5; font-size: 15px; float: left; margin: 25px 0 0 34px; color: white;}
footer > .grid > .bottom > object {-webkit-transform: rotate(180deg); transform: rotate(180deg);}

.blue-paragraph-title {font-size: 18px; font-weight: bold; color: #1a7cc8;}
.popup .grid {height: 100%;}
.popup .popup-material-card .avatar {background-color: gainsboro; width: 42px; height: 42px; border-radius: 42px; display: inline-block; margin: 0 15px 0 0; vertical-align: middle; background-size: cover;}
.popup .popup-material-card {text-align: center; background: white; padding: 20px;}
.popup .popup-material-card > div {width: 700px; padding: 20px 0 40px; box-sizing: border-box; text-align: center; color: black; margin: 0 auto;}
.popup .popup-material-card .close-popup {text-align: right; margin-right: 0;}
.popup .popup-material-card .close-popup:hover {cursor: pointer;}
.popup .popup-material-card .material-info {width: 700px; background: white; font-size: 18px; box-shadow: 0 12px 44px 0 rgba(26, 123, 200, 0.2);}
.popup .popup-material-card .material-info .image {height: 225px; background-color: gainsboro; background-size: cover; width: 700px;}
.popup .popup-material-card .material-info .wrap {padding: 43px; box-sizing: border-box; width: 100%; text-align: left;}
.popup .popup-material-card .material-info .wrap > * {text-align: left;}
.popup .popup-material-card .material-info .title {font-size: 32px; font-weight: bold;}
.popup .popup-material-card .material-info .description {padding: 22px 0;}
.popup .popup-material-card .material-info a.link {overflow: hidden; display: block; width: 100%; color:black; text-align: left; text-decoration: underline;}
.popup .popup-material-card .material-info .member-info {padding: 48px 0 0; font-size: 20px;}
.popup .popup-material-card .material-info .member-info .bio-and-place {display: inline-block; vertical-align: middle;}
.popup .popup-material-card .material-info .member-info .bio {font-weight: bold;}
.popup .popup-material-card .material-info .member-info .place {font-size: 17px;}
.popup .popup-material-card .material-info .member-info .right {float: right; padding: 10px 0;}
.popup .popup-material-card .material-info .member-info .right .amount {margin: 0 30px 0 0; display: inline-block;}
.popup .popup-material-card .material-info .member-info .right .likes {display: inline-block;}
.popup .popup-material-card .card-wrap {}
.popup .popup-material-card .card-wrap {padding: 16px 0 0;}
.popup .popup-material-card .card-wrap .share {background: rgba(26, 124, 200, 0.08); width: 100%; height: 86px; padding: 22px 0 0; box-sizing: border-box; margin: 36px 0 0;}
.popup .popup-material-card .card-wrap .share > * {vertical-align: middle; display: inline-block;}
.popup .popup-material-card .card-wrap .share .facebook-width-button {margin: 0 0 0 10px;}
.popup .popup-material-card .card-wrap .share .vk-width-button {margin: 0 20px 0 10px;}
.popup .popup-material-card .card-wrap .share object {pointer-events: none;}
.popup .popup-material-card .card-wrap .share .vk-share {padding: 4px 0 0;}
.popup .popup-material-card .card-wrap .share .fb-share {padding: 4px 0 0;}
.popup .popup-material-card .card-wrap .task-info {padding: 34px 0 0; text-align: left;}
.popup .popup-material-card .card-wrap .task-info .title {padding: 22px 0 0; font-size: 32px; font-weight: bold; text-align: center; color: #1a7cc8;}
.popup .popup-material-card .card-wrap .task-info .subtitle {text-align: center; padding: 2px 0 19px;}
.popup .popup-material-card .card-wrap .task-info .description {}
.popup .popup-material-card .card-wrap .task-info .links {padding: 19px 0 0; display: none;}
.popup .popup-material-card .card-wrap .task-info .links a {display: block;}
.popup .popup-material-card .card-wrap .error-msg {display: none; font-size: 32px; font-weight: bold; color: #e45c40; padding: 35px 0 0;}
.popup .popup-material-card .card-wrap .moderation {display: none;}
.popup .popup-material-card .card-wrap .moderation.accept {}
.popup .popup-material-card .card-wrap .moderation.accept .panel {padding: 22px 44px; background: rgba(26, 124, 200, 0.08); margin: 65px auto 0;}
.popup .popup-material-card .card-wrap .moderation.accept .panel div:not(.error) {width: 179px; border-radius: 1px; color: white; padding: 5px 0; display: inline-block; font-size: 20px; margin: 0 5px;}
.popup .popup-material-card .card-wrap .moderation.accept .panel div:hover:not(.error) {cursor: pointer;}
.popup .popup-material-card .card-wrap .moderation.accept .panel div.accepted {background-image: linear-gradient(to bottom, #208bcd, #1971bf);}
.popup .popup-material-card .card-wrap .moderation.accept .panel div.decline {background-image: linear-gradient(to bottom, #ff9b00, #f7811c);}
.popup .popup-material-card .card-wrap .moderation.add-time {margin: 22px 0 0 0; text-align: center; display: none; padding: 22px 44px; background: rgba(26, 124, 200, 0.08);}
.popup .popup-material-card .card-wrap .moderation.add-time input {width: 15px;}
.popup .popup-material-card .card-wrap .moderation.add-time .add {width: 180px; color: white; padding: 5px 0; margin: 20px auto 0; border-radius: 1px; background-image: linear-gradient(to bottom, #208bcd, #1971bf);}
.popup .popup-material-card .card-wrap .moderation.add-time .add:hover {cursor: pointer;}
.popup .popup-material-card .card-wrap .moderation.add-time .error {color: #e45c40; padding: 0 0 10px 0; display: none;}
.popup .popup-material-card .card-wrap .juror-vote-box {padding: 44px 0 0; text-align: left; display: none;}
.popup .popup-material-card .card-wrap .juror-vote-box .votes {padding: 38px 0 0;}
.popup .popup-material-card .card-wrap .juror-vote-box .votes .vote {padding: 9px 0;}
.popup .popup-material-card .card-wrap .juror-vote-box .votes .vote .title {display: inline-block; padding: 10px 0; color: #4c4c4c;}
.popup .popup-material-card .card-wrap .juror-vote-box .votes .vote .numbers {float: right; width: 440px;}
.popup .popup-material-card .card-wrap .juror-vote-box .votes .vote .numbers span {background-color: #edf5fb; width: 40px; color: #1b77c3; font-size: 22px; font-weight: bold; padding: 5px 0; display: inline-block; text-align: center; float: right; margin: 0 1px;}
.popup .popup-material-card .card-wrap .juror-vote-box .votes .vote .numbers span:hover {cursor: pointer;}
.popup .popup-material-card .card-wrap .juror-vote-box .votes .vote .numbers span.selected {background-color: #1973c0; color: white;}
.popup .popup-material-card .card-wrap .juror-vote-box .votes .vote .numbers.average {color: #2683cb; font-size: 26px; padding: 3px 0; font-weight: bold; width: 419px;}
.popup .popup-material-card .card-wrap .comment-box {padding: 43px 0 0; box-sizing: border-box; display: none; text-align: left;}
.popup .popup-material-card .card-wrap .comment-box .comment-box-wrap {text-align: left; display: none; padding: 22px 44px; background: rgba(26, 124, 200, 0.08);}
.popup .popup-material-card .card-wrap .comment-box .blue-paragraph-title {padding: 0 0 22px 0;}
.popup .popup-material-card .card-wrap .comment-box .juror-info {font-size: 20px;}
.popup .popup-material-card .card-wrap .comment-box .juror-info .info {display: inline-block; vertical-align: middle; padding: 8px 0;}
.popup .popup-material-card .card-wrap .comment-box .juror-info .info .bio {font-weight: bold; display: inline-block; float: left;}
.popup .popup-material-card .card-wrap .comment-box .juror-info .info .job {display: inline-block; float: left; max-width: 290px;}
.popup .popup-material-card .card-wrap .comment-box .juror-info .vote {display: inline-block; float: right; color: #1a7cc8; font-weight: bold; padding: 8px 0;}
.popup .popup-material-card .card-wrap .comment-box .comment {padding: 10px 0 0; font-size: 18px;}
.popup .popup-material-card .card-wrap .comment-box .disput {float: right; font-weight: bold; color: #1a7cc8; text-decoration: underline; padding: 20px 0 0;}
.popup .popup-material-card .card-wrap .comment-box .disput:hover {cursor: pointer;}
.popup .popup-material-card .card-wrap .comment-box .add-comment-box {display: none;}
.popup .bottom {position: absolute; left: 0; right: 0; bottom: 0;}

.add-comment-box {text-align: left; display: none;}
.add-comment-box .error { visibility: hidden; color: #fb7066; text-align: center; padding: 20px 0;}
.add-comment-box textarea {border: solid 1px rgba(0, 0, 0, 0.2); width: 100%; height: 136px; margin: 10px 0 20px; padding: 10px; box-sizing: border-box; font-size: 18px;}
.add-comment-box .button {background-image: linear-gradient(to bottom, #208bcd, #1971bf); color: white; width: 179px; display: inline-block; text-align: center; padding: 8px 0;}
.add-comment-box .loading {padding: 10px 0; display: none;}

section.popup {display: none; position: absolute; left: 0; right: 0; top: 0; background-color: rgba(0,0,0,0.8); text-align: center; z-index: 3;}        
section.popup > .grid {margin: 0 auto;}
section.popup > .grid > object {padding: 0 0 60px 0;}        
section.popup > .grid > .popup-content-block {margin: 60px 0 0; text-align: left;}
section.popup > .grid > .popup-content-block .information {margin: 60px 0 33px 0; color: white;}
section.popup > .grid > .popup-content-block .information > .title {font-size: 32px; display: inline-block;}
section.popup > .grid > .popup-content-block .information > .count {float: right; font-size: 18px; margin: 12px 0 0;}
section.popup > .grid .how-it-made {display: none;}
section.popup > .bottom {position: absolute; bottom: 0; left: 0; right: 0; z-index: 1;}

section.popup > .grid > .popup-content-block.alert {width: 480px; background: white; margin: 60px auto 0; text-align: center; padding: 10px 10px 50px; font-size: 18px;}
section.popup > .grid > .popup-content-block.alert .close-popup {text-align: right;}
section.popup > .grid > .popup-content-block.alert .message {padding: 20px 0 30px;}
section.popup > .grid > .popup-content-block.alert .button {font-size: 20px; padding: 5px 0; color: white; border-radius: 1px; background-image: linear-gradient(to bottom, #208bcd, #1971bf); display: inline-block; width: 130px;}
section.popup > .grid > .popup-content-block.alert .button.cancel {margin: 0 0 0 20px;}


.card {background: white; width: 100%; padding: 20px; box-sizing: border-box; text-align: center; color: black;}
.card .close-popup {text-align: right; margin-right: 0;}
.card .close-popup:hover {cursor: pointer;}
.card div.title {margin: 11px auto; color: #1a7cc8; font-size: 52px; font-weight: 600;}
.task-card > .subtitle {font-size: 18px;}
.card .what-we-do, .task-card > .what-we-do {margin: 35px 110px 5px; text-align: left; font-size: 18px; font-weight: bold; color: #1a7cc8;}
.card .how-we-do {}
.card .description, .task-card > .description {text-align: left; font-size: 18px; margin: 5px 110px 0;}
.card .links, .task-card > .links {text-align: left; margin: 0 110px 0; font-size: 18px; text-decoration: underline;}
.card .links > a, .task-card > .links > a {display: block; line-height: 2;}                
.task-card > .login {width: 650px;}        
.task-card > .error {display: none; font-size: 30px; margin: 30px auto 20px; color:#fa695f; width: 500px; font-weight: 600;}        
.task-card > .link-under-button {color: #1a7cc8; font-size: 18px; text-decoration: none;}
.popup .task-description .not-checked, .popup .task-description .checked {display: none;}

.slider-content > div.material:hover {cursor: pointer;}

.tabs-control {font-size: 32px;}
.tabs-control > .tab {display: inline-block; margin: 0 42px 0 0; color: #a3ccff;}
.tabs-control > .tab:hover {cursor: pointer;}
.tabs-control > .active {color: white; font-weight: 600;}

.user-profile {background: white; box-shadow: 0 22px 64px 0 rgba(0, 0, 0, 0.7); padding: 60px; box-sizing: border-box; color: black; font-size: 18px;}
.user-profile > .top {}
.user-profile > .top > div {display: inline-block; vertical-align: top;}
.user-profile > .top > .avatar {width: 128px; height: 128px; background-color: gainsboro; border-radius: 64px; background-size: contain;}
.user-profile > .top > .info {padding: 0 0 0 36px; max-width: 400px;}
.user-profile > .top > .info > div {max-width: 400px;}
.user-profile > .top > .info > .bio {font-size: 32px; font-weight: bold; max-width: 400px;}
.user-profile > .top > .info > .row-1 {padding: 0 0 15px 0;}
.user-profile > .top > .links {padding: 0 0 0 16px; max-width: 250px;}
.user-profile > .top > .links > a {display: block; max-width: 250px; overflow: hidden;}
.user-profile > .description {padding: 50px 0;}
.user-profile > .bottom {font-weight: bold;}
.user-profile > .bottom > div {margin: 0 30px 0 0; display: inline-block;}
.user-profile > .bottom > div > span {margin: 0 0 0 5px;}

.edit-form .photo, .photo {text-align: left;}
.edit-form .photo > .upload {width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1;}
.edit-form .photo > .upload + label {text-align: center; width: 179px; display: inline-block; margin: 0 10px 0 0; padding: 5px 0; font-size: 20px; color: white; border-radius: 1px; background-image: linear-gradient(to bottom, #208bcd, #1971bf); cursor: pointer; vertical-align: top;}
.edit-form .photo > .upload:hover {cursor: pointer;}
.edit-form .photo > span {margin-left: 10px;}
.edit-form .photo > .file-description {color: #827f7f; display: inline-block; vertical-align: top; max-width: 450px;}
.edit-form .photo > .delete-file {color: #208bcd; display: none; border-bottom: 1px dashed #208bcd;}
.edit-form .photo > .delete-file:hover {cursor: pointer;}
.edit-form input,
.edit-form textarea {color: gainsboro; padding: 15px 15px 9px; font-size: 18px; border: solid 1px #999999; width: 700px;}
.edit-form input.link {margin: 10px 110px 0;}
.edit-form textarea {height: 225px;}
.edit-form form > *:not(.button) {margin-left: 110px; margin-right: 110px;}
.edit-form form > .close-popup {margin-right: 0;}
.edit-form .loading {display: none; padding: 30px 0;}

.member-profile-container .category-filters {text-align: right; padding: 80px 0 0;}
.member-profile-container .category-filters > div {display: inline-block;}
.member-profile-container .category-filters .active-category {float: left; font-size: 32px; color: white; font-weight: bold;}
.member-profile-container .category-filters .category {color: #a3ccff; font-size: 20px; padding: 8px 0; margin: 0 0 0 32px;}
.member-profile-container .category-filters .category:hover {cursor: pointer;}
.member-profile-container .category-filters .category.activated {display:none;}
.member-profile-container .category-filters.without-filters {text-align: left;}
.member-profile-container .category-filters.without-filters > div {float: none;}
.member-profile-container .slider {padding: 44px 0 0;}

section.message {width: 100%; max-height: 80px; text-align: center; border-top: 1px solid rgba(5,73,132,0.2);}
section.message > * {display: inline-block; padding: 28px 0;}
section.message > .grid {width: 960px; text-align: left; margin: 0 auto;}
section.message > .grid > * {display: inline-block;}
section.message > .grid > .link {float: right;}
section.message > .grid > .close {position: absolute; right: 26px;}
section.message > .grid > .close:hover {cursor: pointer;}
section.message > .open-profile {width: 149px; color: white; border-radius: 1px; background-image: linear-gradient(to bottom, #208bcd, #1971bf); box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5), inset 0 1px 0 0 #55a6d8; padding: 5px 0; font-size: 20px; margin: 0 0 0 30px;}

.nothing-here {font-size: 18px; color: #c5c5c5; width: auto; height: auto;}