section.tasks {}
section.tasks > .grid {margin: 0 auto; padding: 50px 0 100px; color: #a3ccff; min-height: 1500px; width: 920px;}
section.tasks > .grid > .tab-tasks {}
section.tasks > .grid > .tab-tasks > .filters {margin: 36px 0 24px;}
section.tasks > .grid > .tab-tasks > .filters > .formats {display: inline-block;}
section.tasks > .grid > .tab-tasks > .filters > .formats > div {display: inline-block; margin: 0 14px 0 0;}
section.tasks > .grid > .tab-tasks > .filters > .formats > div:hover {cursor: pointer;}
section.tasks > .grid > .tab-tasks > .filters > .costs {float: right;}
section.tasks > .grid > .tab-tasks > .filters > .costs > div {display: inline-block; margin: 0 14px 0 0;}
section.tasks > .grid > .tab-tasks > .filters > .costs > div:hover {cursor: pointer;}
section.tasks > .grid > .tab-tasks > .filters div.active {color: white; font-weight: 600;}        
section.tasks > .grid > .tab-tasks > .tasks {margin: 0 -5px;}        
section.tasks > .grid > .tab-tasks > .tasks > .task {display: inline-block; margin: 5px 3px 5px; width: 300px; height: 174px; background-image: linear-gradient(to bottom, #fafafa, #d8e8f4); box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.17), inset 0 -1px 1px 0 #ffffff; position: relative; vertical-align: top;}
section.tasks > .grid > .tab-tasks > .tasks > .task:hover {cursor: pointer;}
section.tasks > .grid > .tab-tasks > .tasks > .task > .title {font-size: 30px; font-weight: bold; text-align: center; color: #1177c6; margin: 40px 0 0;}
section.tasks > .grid > .tab-tasks > .tasks > .task > .description {position: absolute; bottom: 14px; left: 0; right: 0; margin: 0 auto; text-align: center; opacity: 0.5; color: black; font-size: 15px;}
section.tasks > .grid > .tab-tasks > .tasks > .unavailable {background-image: linear-gradient(to bottom, #4d5e6e, #2f4052); box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.17), inset 0 -1px 1px 0 #2f4052;}                
section.tasks > .grid > .tab-tasks > .tasks > .unavailable > .title {color: #0a355e;}
section.tasks > .grid > .tab-my-tasks {display: none;}
section.tasks > .grid > .tab-my-tasks > .block {margin: 57px 0 0;}
section.tasks > .grid > .tab-my-tasks > .block > .block-title {font-size: 32px; margin: 0 0 33px; color: white;}
section.tasks > .grid > .tab-my-tasks > .task > .task-card {display: none;}
section.tasks > .grid > .tab-my-tasks > .task > .task-card > .button  {width: 320px;}
section.tasks > .grid > .tab-my-tasks > .task > .task-card > .error-msg {font-size: 30px; font-weight: bold; text-align: center; color: #fa695f; padding: 20px 0 20px; margin: 0 110px; display: none;}
section.tasks > .grid > .tab-my-tasks > .task > .task-card > .success-msg {color: #1a7cc8; font-size: 24px;}
section.tasks > .grid > .tab-my-tasks > .task > .task-card > .how-we-do {display: none;}
section.tasks > .grid > .tab-my-tasks > .task > .task-card > .link-under-button {margin: 0 0 50px;}
section.tasks > .grid > .tab-my-tasks > .task > .task-card > .link-under-button.clickable {text-decoration: underline;}
section.tasks > .grid > .tab-my-tasks > .task > .task-card > .link-under-button.clickable:hover {cursor: pointer;}
section.tasks > .grid > .tab-my-tasks > .task > .task-card > form > .add-comment-box {margin: -40px 110px 50px;}
section.tasks > .grid > .tab-my-tasks > .task > .task-card > .bottom {font-size: 18px; text-align: left;}        
section.tasks > .grid > .tab-my-tasks > .task > .task-card > .bottom > .how {color: #1a7cc8; display: inline-block;}
section.tasks > .grid > .tab-my-tasks > .task > .task-card > .bottom > .completed {float: right; color: black;}
section.tasks .slider-content {position: relative; height: auto; width: auto;}        
section.tasks .slider-content > div:nth-of-type(1),
section.tasks .slider-content > div:nth-of-type(2n+4) {margin: 0;}
section.tasks .slider-content > div {float: none; margin: 0 0 8px 3px; margin-bottom: 8px;}
section.tasks .slider-content > div.material > .image {width: 300px;}
section.tasks .slider-content > div.material {width: 300px;}
section.tasks .slider-content > div.material > .content {width: 254px;}
section.tasks .tab-juror-tasks {display: none;}
section.tasks .tab-juror-tasks > .title {font-size: 32px; color: white; padding: 66px 0 33px;}