{% extends "admin/base_site.html" %}
{% block title %}Blog Usage Report{% endblock %}

{% block content %}
<h1>Удаление данных из базы</h1>
<p>Для очистки данных конкурса выберите опции ниже и нажмите кнопку "Очистить":</p>
<form action="" method="POST">
    {% csrf_token %}
    <input type="checkbox" checked="cheked" disabled="disabled"> Удалить все Cоревнования с Результами и голосами, а также обнулить рейтинги пользователей<br>
    <input type="checkbox" name="members"> Удалить всех Участников и их Пользователей<br>
    <input type="checkbox" name="jurors"> Удалить всех Жюри и их Пользователей<br>
    <input type="checkbox" name="tasks"> Удалить все Задачи<br><br>
    <p style="color:red;">Внимание! <br> Выполнение данных действий приведет к необратимой полной очистки данных в базе! <br> Выполняйте данные действия, только если вы полностью уверены.</p>
    <input type="submit" value="Очистить" disabled="disabled"> <input type="checkbox" class="confirm" value="" style="margin: 0 0 0 10px;"> Я подтверждаю выполнение очистки
</form>
<script>
    document.querySelector('.confirm').onchange = function () {
        if (this.checked)
            document.querySelector("input[type='submit']").removeAttribute('disabled');
        else
            document.querySelector("input[type='submit']").setAttribute('disabled', 'disabled');
    }
</script>
{% endblock %}
