{% extends 'index.html' %}
{% load multicup %}
{% block head %}
<style>
    .wrap {width: 800px; padding: 51px 0; text-align: center; margin: 0 auto;}
    .selectors {font-size: 32px;}
    .selectors > .selector {display: inline-block; margin: 0 15px;}
    .selectors > .selector > a {color: #a3ccff;}
    .info-block {padding: 80px 0 0;}
    .info-block .title {font-size: 55.7px; font-weight: bold; color: white;}
    .info-block .content {margin: 29px auto 0;}
    .shoot {width: 600px; height: 339px; background-color: white; background-image: url('/media/about-shoot.png'); background-size: contain; background-repeat: no-repeat;}
    .shoot:hover {cursor: pointer;}
    .shoot iframe {visibility: hidden;}
    .write {background-color: #ffffff; box-shadow: 0 20px 59px 0 rgba(0, 0, 0, 0.5); width: 100%; box-sizing: border-box; padding: 75px 85px; color: #0a3357; text-align: left;}
    .write .h1 {font-size: 25px; font-weight: 600;}
    .write .h2 {padding: 40px 0 10px; font-weight: 600;}
    .write .list {margin: 0 0 0 20px;}
    .write .list div {margin: 5px 0 0;}
    .write .list div span {display: block; float: left; margin: 0 20px 0 0;}
    .write .list div div {display: inline-block; max-width: 580px;}
    .fix {position: relative;}
    .fix .content {width: 800px; height: 533px; box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5); position: relative;}
    .fix .slide {position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; opacity: 0; z-index: 1; -webkit-transition: opacity 1s; -moz-transition: opacity 1s; -o-transition: opacity 1s; transition: opacity 1s;}
    .fix .slide.showing {opacity: 1; z-index: 2;}
    .fix .slide:nth-of-type(1) {background-image: url('/media/about-fix.jpg'); background-color: white; background-size: 802px 534px; background-position: -1px -1px;}
    .fix .slide:nth-of-type(2) {background-image: url('/media/about-fix-1.jpg'); background-color: white; background-size: 802px 534px; background-position: -1px -1px;}
    .fix .slide:nth-of-type(3) {background-image: url('/media/about-fix-2.jpg'); background-color: white; background-size: 802px 534px; background-position: -1px -1px;}
    .fix .slide:nth-of-type(4) {background-image: url('/media/about-fix-3.jpg'); background-color: white; background-size: 802px 534px; background-position: -1px -1px;}
    .fix .slide:nth-of-type(5) {background-image: url('/media/about-fix-4.jpg'); background-color: white; background-size: 802px 534px; background-position: -1px -1px;}
    .fix .slider-buttons {position: absolute; left: 0px; bottom: 10px; right: 0; margin: 0 auto; z-index: 10; font-size: 0px;}
    .fix .slider-buttons .controls {cursor: pointer; height: 30px; width: 30px; color: #124877; font-weight: bold; margin: 0 5px; font-size: 17px; border-radius: 3px; border: none; background: white; box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5); outline: none;}
    .learn {width: 800px; height: 533px; box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5); background-image: url('/media/about-learn.png'); background-color: white; background-size: 802px 534px; background-position: -1px -1px;}
    .tell {width: 500px; margin: 0 auto;}
    .join {color: #ffffff; padding: 0 0 60px 0;}
    .join .description {width: 310px; margin: 0 auto;}
    .join .button {margin: 34px auto 0; width: 155px; padding: 5px; border-radius: 1.5px; background-image: linear-gradient(to bottom, #fad860, #fea85c 48%, #f72063);}
</style>
{% endblock head %}

{% block page %}
    <div class="wrap">
        <div class="selectors">
            <div class="selector"><a href="#shoot">Снимай</a></div>
            <div class="selector"><a href="#write">Пиши</a></div>
            <div class="selector"><a href="#fix">Фиксируй</a></div>
            <div class="selector"><a href="#learn">Изучай</a></div>
            <div class="selector"><a href="#tell">Рассказывай</a></div>
        </div>
        <a name="shoot"></a>
        <div class="info-block">
            <div class="title">Снимай</div>
            <div class="content shoot">                
                <iframe width="600" height="339" src="https://www.youtube.com/embed/2Yh2WWS9viY?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <a name="write"></a>
        <div class="info-block">
            <div class="title">Пиши</div>            
            <div class="content write">
                <div class="h1">Конкурс «Кубок мультимедийного вызова»</div>
                <div class="h2">Что это за конкурс?</div>
                <div class="text">Кубок мультимедийного вызова — это конкурс для тех, кто создаёт интересный контент своими руками и головой. Участники будут выполнять задания на создание текстов, инфографики, видео и других мультимедийных модулей, а эксперты и читатели — оценивать их. Соревноваться предстоит не только друг с другом — в ходе конкурса составим мультимедийный рейтинг городов и регионов.</div>
                <div class="h2">Как это будет происходить?</div>
                <div class="text list">
                	<div><span>•</span><div>Регистрируетесь</div></div>
                    <div><span>•</span><div>Видите 33 запечатанных конверта с заданиями, каждое из которых «стоит» определенное количество баллов</div></div>
                    <div><span>•</span><div>Выбираете вслепую задание</div></div>
                    <div><span>•</span><div>Выполняете задание — получаете баллы в личный рейтинг</div></div>
                    <div><span>•</span><div>Не выполняете задание — баллы из вашего рейтинга вычитаются</div></div>
                    <div><span>•</span><div>Берете новое задание</div></div>
                    <div><span>•</span><div>К каждому заданию прикреплены материалы, которые помогут вам это задание выполнить</div></div>
                    <div><span>•</span><div>Рейтинги участников из одного города суммируются в рейтинг города</div></div>
                    <div><span>•</span><div>Рейтинги городов из одного региона суммируются в рейтинг региона</div></div>
                </div>
                <div class="h2">Когда и как долго?</div>
                <div class="text">Стартуем в декабре 2016 года, заканчиваем в феврале 2017.</div>
                <div class="h2">Кто может участвовать?</div>
                <div class="text">Стать участником конкурса может любой человек (журналист, блогер, копирайтер, авто, редактор), которому исполнилось 18 лет. 17 лет работаете в медиа и уверены, что для вас нет невозможного? Заявляйтесь, проверим. Ещё учитесь, но уже чувствуете в себе силы превзойти своих учителей? Ждем вас на конкурсе!</div>
                <div class="h2">А призы будут?</div>
                <div class="text">Конечно! Самым неугомонным выпадет честь и возможность отправиться на выездную мастерскую вместе с монстрами мультимедиа. В мастерских команды будут создавать мультимедийные проекты, основанные на реальных историях, прямо «в полях». Лучший способ проявить себя в деле, наработать связи и авторитет. Для остальных будут цифровые и материальные призы и поощрения. Индивидуальные и на весь город.</div>
            </div>
        </div>
        <a name="fix"></a>
        <div class="info-block fix">
            <div class="title">Фиксируй</div>
            <div class="content">
                <div class="slide showing"></div>
                <div class="slide"></div>
                <div class="slide"></div>
                <div class="slide"></div>
                <div class="slide"></div>
            </div>
            <div class="slider-buttons">
                <button class="controls previous">&lt;</button>
                <button class="controls next">&gt;</button>
            </div>
        </div>
        <a name="learn"></a>
        <div class="info-block">
            <div class="title">Изучай</div>
            <div class="content learn"></div>
        </div>
        <a name="tell"></a>
        <div class="info-block">
            <div class="title">Рассказывай</div>
            <div class="content tell">
                <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/177468156&amp;color=ff9900&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>    
        <div class="info-block">
            <div class="content join">
                {% if not user.is_authenticated %}
                    <div class="description">Участвуй в конкурсе и получи возможность поработать в мастерских вместе с яркими профессионалами мультимедиа</div>
                    <div class="button">Участвовать</div>
                {% endif %}
            </div>
        </div>
    </div>    
{% endblock page %}

{% block footer %}
<script>
    document.querySelector('.shoot').onclick = function () {
        var iframe = this.querySelector('iframe');
        iframe.src += "&autoplay=1";
        iframe.style.visibility = 'visible';
        ev.preventDefault();
    }
    var base_js = document.querySelector('.base-js');
    if (base_js) {
        base_js.onload = function () {
            new LoginButton('.join > .button');
        }
    }
	
	var slides = document.querySelectorAll('.fix .slide');
	var currentSlide = 0;
	function nextSlide () {
		goToSlide(currentSlide + 1);
	}	

	function previousSlide () {
		goToSlide(currentSlide - 1);
	}
	
	function goToSlide (n) {
		slides[currentSlide].removeClass('showing');
		currentSlide = (n + slides.length) % slides.length;
		slides[currentSlide].addClass('showing');
	}

	var next = document.querySelector('.slider-buttons > .next');
	var previous = document.querySelector('.slider-buttons > .previous');	
	
	next.onclick = function(){		
		nextSlide();
	};
	previous.onclick = function(){		
		previousSlide();
	};

    
</script>
{% endblock footer %}    