{% load backend_utils %}
{% load multicup %}
<!doctype html>
<html>
  <head>
    <title>{{meta.title}}</title>
    <link rel="icon" type="image/png" href="/media/favicon-16.png" />
    <link rel="apple-touch-icon-precomposed" href="/media/favicon.png"/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
    <meta property="fb:app_id" content="207262666368953"/>
    <link href="/static/css/base.css" rel="stylesheet">    
    <meta property="og:url" content="{{meta.og_url}}" />
    <meta property="og:type" content="{{meta.og_type}}" />
    <meta property="og:title" content="{{meta.og_title}}" />
    <meta property="og:description" content="{{meta.og_description}}" />
    <meta property="og:image" content="{{meta.og_image}}" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <script class="base-js" defer src="/static/js/base.js"></script>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8&appId={{facebook_app_id|default:0}}";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      window.fbAsyncInit = function () {
        FB.init({
          appId      : {{facebook_app_id|default:0}},
          xfbml      : true,
          version    : 'v2.8'
        });
        FB.AppEvents.logPageView();        
      }          
    </script>
    <script defer class="vk-open-api" type="text/javascript" src="https://vk.com/js/api/openapi.js?136"></script>
    <script defer class="vk-share-js" type="text/javascript" src="http://vk.com/js/api/share.js?94" charset="windows-1251"></script>
    {% block head %}{% endblock head %}
  </head>
  <body>
    <img style="display: none;" src="http://kubok.newmediaedu.ru/media/og_image.png">
    <header>      
      <div class="grid">        
        {% if header.logo %}
            <a class="logo" href="/"><img width="199" src="{{ header.logo }}"></a>        
        {% endif %}      
        {% if header.links %}
          <div class="links">
          {% for link in header.links %}            
            {% if link.non_auth_only %}
              {% if not user.is_authenticated %}
                <div class="login">{{ link.title }}</div>
              {% endif %}
            {% elif link.auth_only %}
              {% if user.is_authenticated %}
                <a class="logout" href="{{ link.url }}">{{ link.title }}</a>
              {% endif %}
            {% else %}
              <a {% if request.path == link.url|add:"/" %} class="selected" {% endif %} href="{{ link.url }}">{{ link.title }}</a>
            {% endif %}   
          {% endfor %}
          </div>      
        {% endif %}
      </div>
      {% if not user.is_authenticated %}
        <div class="login-form" tabindex="0">
          <div class="arrow-up"></div>
          <div class="content">            
            <div class="text">Для участия в конкурсе<br>нужно зарегистрироваться<br><br>Войдите через аккаунт</div>
            <div class="buttons">
              <div class="fb-login social-width-button facebook-width-button"><a href="/login/facebook/"><img src="/media/fb-text.png"><span>Facebook</span></a></div>
              <div class="vk-login social-width-button vk-width-button"><a href="/login/vk-oauth2/"><img src="/media/vk-text.png"><span>Вконтакте</span></a></div>
            </div>
          </div>
        </div>      
      {% endif %}      
    </header>    
    {% if member %}
      <section class="memberinfo">
        <div class="grid">
          {% if not member.is_juror %}<span class="member-id">№{{member.rating}}</span>{% endif %}        
          <div class="avatar" {% if member.photo %} style="background-image: url('/media/{{member.photo}}')" {% endif %} ></div>          
          <div class="bio">
            {% if not member.is_juror %}
              <a href="/members/?profile=1">{{user.first_name}}&nbsp;{{user.last_name}}</a>
            {% else %}
              <a href="/jurors/?profile=1">{{user.first_name}}&nbsp;{{user.last_name}}</a>
            {% endif %}
          </div>
          {% if not member.is_juror %}
            <div class="results">          
              <div><b class="user-amount">{{member.amount}}&nbsp;{% declension member.amount "балл" '' 'а' 'ов' %}</b></div>
              <div>{{member.likes}}&nbsp;{% declension member.likes "лайк" '' 'а' 'ов' %}</div>              
              <div>{{member.challenge_completed}}&nbsp;{% declension member.challenge_completed "материал" '' 'а' 'ов' %}</div>
            </div>
          {% endif %}
        </div>
      </section>
      {% if message %}
          <section class="message">
              {% if message.auth %}
                  <div class="text">{{message.text}}</div>
                  <a href="/members/?profile=1&edit=1" class="open-profile">Заполнить</a>
              {% else %}
                  <div class="grid">
                      <div class="text">{{message.text|safe}}</div>
                      <a href="{{message.link.url}}" class="link">{{message.link.title}}</a>
                      <div class="close">╳</div>
                  </div>
              {% endif %}
          </section>
      {% endif %}
    {% endif %}
    <div class="page-content">
    {% block page %}{% endblock page %}
    </div>
    <footer>
      <div class="grid">
        <div class="top">
          <div class="logo">
            {% if footer.logo %}
              <object data="{{footer.logo}}" type="image/svg+xml"></object>
            {% endif %}
          </div>
          <div class="navigation">
            {% footer_column footer.column_1 %}
            {% footer_column footer.column_2 %}
            {% footer_column footer.column_3 %}
          </div>
        </div>
        <div class="bottom">
          <div class="text">
            {{footer.text}}
          </div>
          <object data="/media/parallelepipeds.svg" type="image/svg+xml"></object>  
        </div>  
      </div>    
    </footer>
    <div id="fb-root"></div>
  </body>  
  {% block footer %}{% endblock footer %}
  <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter41884924 = new Ya.Metrika({
                    id:41884924,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>

<noscript><div><img src="https://mc.yandex.ru/watch/41884924" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  {% include "parts/popup.html" %}
</html>