{% extends 'index.html' %}
{% load multicup %}
{% block head %}
<style>
    body .wrap {padding: 0 0 60px 0;}
    body .wrap > .grid {width: 927px; min-height: 600px;}
    
    .tabs-control {padding: 50px 0;}
    .tabs-control .edit {font-size: 15.7px; font-weight: bold; color: white; height: 34px; background-image: linear-gradient(to bottom, #208bcd, #1971bf); box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5), inset 0 1px 0 0 #55a6d8; float: right; width: 150px; line-height: 30px; text-align: center; margin: 4px 0 4px 20px;}
    .tabs-control .edit a {color: white;}
    .search {float: right; margin: -3px 11px 0 0; text-align: right;}
    .search > input {width: 197px; padding: 0 10px; height: 32px; border: solid 1px rgba(0, 0, 0, 0.15); color: gainsboro; font-size: 20px; line-height: 1; display: inline-block; margin: 0 4px 0 0;}
    .search > .close {margin: 0 0 0 -35px; visibility: hidden; color: black; display: inline-block; font-size: 20px;}
    .search > .close:hover {cursor: pointer;}    
    .tab-jurors .member:nth-of-type(1) {margin: 0;}    
    .tab-jurors .member:nth-of-type(4n+1) {margin: 0;}    
    .tab-jurors .member {width: 220px; height: 320px; background: white; display: inline-block; vertical-align: top; margin: 0 0 10px 10px; text-align: center; overflow: hidden; padding: 20px 10px; box-sizing: border-box;}
    .tab-jurors .member:hover {cursor: pointer;}
    .tab-jurors .member > .image {height: 128px; width: 128px; margin: 7px auto 0; background-color: gainsboro; border-radius: 64px; background-size: cover;}
    .tab-jurors .member > .content {margin: 20px auto 0; font-size: 20px;}
    .tab-jurors .member > .content > * {padding: 0 0; word-wrap: break-word; overflow-wrap: break-word; width: 100%; }
    .tab-profile {display: none;}
    
    .slider-content {position: relative; height: auto; width: auto; padding: 40px 0 0;}        
    .slider-content > div:nth-of-type(1),
    .slider-content > div:nth-of-type(2n+4) {margin: 0;}
    .slider-content > div {float: none; margin: 0 0 8px 3px; margin-bottom: 8px; vertical-align: top;}
    .slider-content > div.material > .image {width: 304px;}
    .slider-content > div.material {width: 304px;}
    .slider-content > div.material > .content {width: 259px;}
</style>
{% endblock head %}

{% block page %}
    <div class="wrap">
        <div class="grid">
            <div class="tabs-control">
                <div class="tab active" tab-class="tab-jurors">Жюри</div>
                {% if user.is_authenticated and member.is_juror %}
                    <div class="tab" tab-class="tab-profile">Моя анкета</div>
                    <div class="edit"><a href="/members/?edit=1">Редактировать</a></div>
                {% endif %}
                <div class="search">
                    <input type="text" value="Поиск" alt="Поиск">
                    <span class="close">&#10005;</span>
                </div>
            </div>
            <div class="tab-container tab-jurors">
                {% for juror in jurors %}                       
                    <div class="member" member-id="{{juror.member.id}}">
                        <div class="image" style="background-image: url('/media/{{juror.member.photo|default:""}}');"></div>
                        <div class="content">
                            <div><b>{{juror.member.user.first_name|default:""}} {{juror.member.user.last_name|default:""}}</b></div>
                            <div>{{juror.member.company|default:""}}</div>
                            <div>{{juror.member.job|default:""}}</div>
                        </div>    
                    </div>                    
                {% endfor %}                
            </div>
            {% if user.is_authenticated and member.is_juror %}
                <div class="tab-container tab-profile member-profile-container">
                    {% member_profile member.id %}
                </div>
            {% endif %}
        </div>
    </div>    
{% endblock page %}

{% block footer %}
<script type="text/javascript">
    
    /*  Фильтрация профилей по поисковому запросу
     */
    function filter (filter_value) {    
        filter_value = filter_value.toLowerCase();    
        [].forEach.call(document.querySelectorAll('div.member'), function (member) {
            if (filter_value.length > 0) {
                var show = false;
                var divs = member.querySelectorAll('div.content > div');
                for (var i = 0; i < divs.length; i ++) {                    
                    if (divs[i].innerHTML.toLowerCase().indexOf(filter_value) >= 0) {                    
                        show = true;
                        break;
                    }
                }
                if (show)
                    member.style.display = 'inline-block';
                else
                    member.style.display = 'none';
            } else {
                member.style.display = 'inline-block';
            }            
        });
    }
            
    (function () {
        var search = document.querySelector('.search > input');
        var close = search.nextSibling.nextSibling;
        var alt = search.getAttribute('alt')

        search.onfocus = function () {                
            if (this.value == alt) {
                this.value = '';
                this.style.color = 'black';
            }                
        }
        
        search.onblur = function () {                
            if (this.value.length == 0) {
                this.value = alt;
                close.style.visibility = "hidden";
            }
                
            if (this.value == alt)
                this.style.color = 'gainsboro';    
            
        }
        
        search.onkeyup = function () {
            if (this.value.length > 2) {
                filter(this.value);
            }
            close.style.visibility = "visible";
            
            if (event.keyCode == 8 && this.value.length < 3) {
                filter('');
            }
        }
        
        close.onmousedown = function () {
            search.value = alt;
            search.style.color = 'gainsboro';                    
            this.style.visibility = "hidden";
            filter('');
        }
    })();
    
    var base_js = document.querySelector('.base-js');
    if (base_js) {
        base_js.onload = function () {
            [].forEach.call(document.querySelectorAll('div.member'), function (member) {
                member.onclick = function () {
                    popup.viewProfile(member.getAttribute('member-id'));                    
                }
            });
            
            var show_profile = /profile=([^&]+)/.exec(location.search);
            if (show_profile)            
                document.querySelectorAll('.tabs-control > .tab')[1].click();
        }
    }
</script>
{% endblock footer %}    