{% extends 'index.html' %}
{% load multicup %}
{% block head %}
    <style>
        body > .wrap {min-height: 1500px; background-image: radial-gradient(circle at 49% 0, rgba(0, 23, 43, 0.72), rgba(0, 26, 49, 0.0)), linear-gradient(to bottom, #0a3762, #011326);}
        
        .grid {max-width: 920px;}
        
        section.best-materials {}
        section.best-materials > .grid {}
        section.best-materials > .grid > .title {font-size: 32px; padding: 50px 0; color: white;}
        section.best-materials > .grid > .materials {}
        
        section.materials {padding: 0 0 100px 0;}
        section.materials > .grid {color: #a3ccff;}
        section.materials > .grid > .category-filters {padding: 80px 0 0;}
        section.materials > .grid > .category-filters > .category {font-size: 32px; display: inline-block; margin: 0 42px 0 0;}
        section.materials > .grid > .category-filters > .category:hover {cursor: pointer;}
        section.materials > .grid > .category-filters > .activated {font-weight: bold; color: white;}
        section.materials > .grid > .controls {padding: 40px 0;}
        section.materials > .grid > .controls > div {margin: 9px 0;}
        section.materials > .grid > .controls > .sort {display: inline-block;}
        section.materials > .grid > .controls > .sort > div {display: inline-block; margin: 0 40px 0 0;}
        section.materials > .grid > .controls > .sort > div:hover {cursor: pointer;}
        section.materials > .grid > .controls > .sort > .activated {color: white; font-weight: 600;}
        section.materials > .grid > .controls > .cost-filter {display: inline-block;}
        section.materials > .grid > .controls > .cost-filter > .filter-group {display: inline-block;}
        section.materials > .grid > .controls > .cost-filter > .filter-group > .filter {display: inline-block; margin: 0 0 0 10px;}
        section.materials > .grid > .controls > .cost-filter > .filter-group > .filter.activated {font-weight: bold; color: white;}
        section.materials > .grid > .controls > .cost-filter > .filter-group > .filter:hover {cursor: pointer;}
        section.materials > .grid > .controls > .search {float: right; margin: 0;}
        section.materials > .grid > .controls > .search > input {width: 220px; padding: 0 10px; height: 32px; border: solid 1px rgba(0, 0, 0, 0.15); color: gainsboro; font-size: 20px; line-height: 1; display: inline-block; margin: 0 -4px 0 0;}
        section.materials > .grid > .controls > .search > .close {margin: 0 0 0 -25px; visibility: hidden; color: black; display: inline-block;}
        section.materials > .grid > .controls > .search > .close:hover {cursor: pointer;}            
    
        section.best-materials > .grid > .materials.slider-content {position: relative; height: auto; width: auto;}        
        section.best-materials > .grid > .materials.slider-content > div:nth-of-type(1),
        section.best-materials > .grid > .materials.slider-content > div:nth-of-type(2n+4) {margin: 0;}
        section.best-materials > .grid > .materials.slider-content > div {float: none; margin: 0 0 8px 5px; margin-bottom: 8px;}
        section.best-materials > .grid > .materials.slider-content > div.material > .image {width: 300px;}
        section.best-materials > .grid > .materials.slider-content > div.material {width: 300px;}
        section.best-materials > .grid > .materials.slider-content > div.material > .content {width: 254px;}
        
        section.materials > .grid > .slider-content {position: relative; height: auto; width: auto;}                
        section.materials > .grid > .slider-content > div {float: none; margin: 0 0 8px 8px; margin-bottom: 8px;}
        section.materials > .grid > .slider-content > div.material > .image {width: 300px;}
        section.materials > .grid > .slider-content > div.material {width: 300px;}
        section.materials > .grid > .slider-content > div.material > .content {width: 254px;}
        
        {% if user_is_moderator %}
            section.materials > .grid > .category-filters > .category {font-size: 21px; margin: 0 22px 0 0;}
        {% endif %}
    </style>
{% endblock head %}

{% block page %}
    <div class="wrap">
        <section class="best-materials">
            <div class="grid">
                <div class="title">Лучшие материалы недели</div>
                <div class="materials slider-content">
                    {% if best_materials %}
                        {% slider_content best_materials 'materials' %}
                    {% else %}
                        <div class="nothing-here">В конкурсе ещё нет опубликованных материалов</div>
                    {% endif %}
                </div>
            </div>
        </section>
        <section class="materials">
            <div class="grid">
                <div class="category-filters filter-group">
                    <div class="category filter-group activated filter" filter-name="mine" filter-value="">Все материалы</div>
                    {% if user.is_authenticated %}
                        {% if not user.is_juror %}
                            <div class="category filter-group filter" filter-name="mine" filter-value="1">Мои материалы</div>                        
                        {% else %}
                            <div class="category filter-group filter" filter-name="mine" filter-value="1">Мои оценки</div>
                            <div class="category filter-group filter" filter-name="mine" filter-value="2">На проверку</div>
                            <div class="category filter-group filter" filter-name="mine" filter-value="3">Помочь проверить</div>
                        {% endif %}
                        {% if user_is_moderator %}
                            <div class="category filter-group filter" filter-name="status" filter-value="wm">На модерацию</div>
                            <div class="category filter-group filter" filter-name="status" filter-value="decline">Отклоненные</div>
                            <div class="category filter-group filter" filter-name="status" filter-value="wom">Просроченные</div>
                        {% endif %}    
                    {% endif %}
                </div>
                <div class="controls">
                    <div class="sort">
                        <div class="" sort-by="challenge-id">Новыe</div>
                        <div class="" sort-by="likes">Лайки</div>
                        <div class="" sort-by="votes">Оценки</div>
                    </div>
                    
                    <div class="cost-filter">
                        <span>Баллы:</span>
                        <div class="filter-group">                    
                            {% for cost in costs %}
                                <div class="filter" filter-name="cost" filter-value="{{cost}}">{{cost}}</div>                        
                            {% endfor %}
                        </div>
                    </div>
                    <div class="search">
                        <input type="text" value="Поиск" alt="Поиск">
                        <span class="close">&#10005;</span>
                    </div>
                </div>
                <div class="content slider-content">
                    {% if all_materials %}
                        {% slider_content all_materials 'materials' %}
                    {% else %}
                        <div class="nothing-here">В конкурсе ещё нет опубликованных материалов</div>
                    {% endif %}                    
                </div>
            </div>
        </section>
    </div>    
{% endblock page %}

{% block footer %}
<script type="text/javascript">
var base_js = document.querySelector('.base-js');
var MaterialFilters;
if (base_js)
    base_js.onload = function () {
        MaterialFilters = {};
        
        class MaterialFilterGroup {
            constructor (name, attrs) {
                if (typeof name !== 'object') {
                    var filters = document.querySelectorAll(".filter[filter-name='" + name + "']");                
                } else {
                    var selector_string = '';
                    for (var i = 0; i < name.length; i ++) {
                        if (selector_string.length > 0)
                            selector_string += ',';
                        selector_string += ".filter[filter-name='" + name[i] + "']";
                    }                    
                    var filters = document.querySelectorAll(selector_string);
                }
                    
                if (filters.length == 0)
                    return false;

                if (typeof attrs === 'undefined')
                    attrs = {default : false};
                
                var _this = this;
                
                [].forEach.call(filters, function (filter) {                    
                    var filter_name = filter.getAttribute('filter-name');
                    var filter_value = filter.getAttribute('filter-value');
                    
                    filter.onclick = function () {
                        var was_activated = filter.hasClass('activated');
                        if (! attrs.default && was_activated)
                            return;
                        
                        var activated = filter.parentNode.querySelector(".activated");
                        if (activated)
                            activated.removeClass('activated');
                        
                        _this.removeFilter('mine');
                        _this.removeFilter('status');
                        if (! was_activated) {
                            if (filter_value.length > 0)
                                _this.addFilter(filter_name, filter_value);
                            filter.addClass('activated');
                        }                        
                        _this.filter();
                        console.log(MaterialFilters);
                    }
                });
                return this;
            }
            
            /*  Удаляем значение фильтра из масссива MaterialFilters
             */
            removeFilter (filter_name) {
                if (filter_name in MaterialFilters)
                    delete MaterialFilters[filter_name];
            }
            
            /*  Добавляем значение фильтра в масссива MaterialFilters
             */
            addFilter (filter_name, filter_value) {
                MaterialFilters[filter_name] = filter_value;
            }
            
            /*  Фильтрация материалов
             *      material - DOM Материаала
             */
            filter () {                
                var materials = document.querySelectorAll('section.materials > .grid > .slider-content > div.material');
                var shown = 0;
                for (var i = 0; i < materials.length; i ++) {
                    var material = materials[i];
                    var show = true;                    
                    for (var filter_name in MaterialFilters) {
                        
                        var filter_value = MaterialFilters[filter_name];
                        var material_value = material.getAttribute(filter_name);                        
                        if (filter_name == 'search') {
                            filter_value = filter_value.toLowerCase();
                            if (material.querySelector('.title').innerHTML.toLowerCase().indexOf(filter_value) < 0 &&
                                material.querySelector('.bio').innerHTML.toLowerCase().indexOf(filter_value) < 0 &&
                                material.querySelector('.task').innerHTML.toLowerCase().indexOf(filter_value) < 0 &&
                                material.querySelector('.type').innerHTML.toLowerCase().indexOf(filter_value) < 0) {
                                    show = false;
                                    break;
                            }
                        } else {
                            if (filter_value && material_value != filter_value) {
                                show = false;
                                break;
                            }
                        }             
                    }
                    
                    if (show) {                        
                        if (shown == 0 || shown % 3 == 0)
                            material.style.margin = '0 0 8px 0';
                        else
                            material.style.margin = '0 0 8px 8px';
                        shown ++;    
                        material.style.display = 'inline-block';
                    } else {
                        material.style.display = 'none';
                    }
                }
            }
        }
        
        material_filter_group = new MaterialFilterGroup(['mine','status']);        
        new MaterialFilterGroup('cost', {default : true});
        
        [].forEach.call(document.querySelectorAll("section.materials > .grid > .controls > .sort > div"), function (sort) {
            sort.onclick = function () {                
                if (sort.hasClass('activated'))
                    return;
                
                var activated = document.querySelector("section.materials > .grid > .controls > .sort > div.activated");
                if (activated)
                    activated.removeClass('activated');
                    
                sort.addClass('activated');
                
                var sort_name = sort.getAttribute('sort-by');
                var content = document.querySelector('section.materials > .grid > .slider-content');
                
                Array.prototype.slice.call(content.children).map(function (x) {
                    return content.removeChild(x);
                }).sort(function (x, y) {
                    var x_value = parseInt(x.getAttribute(sort_name));
                    var y_value = parseInt(y.getAttribute(sort_name));
                    if (x_value > y_value)
                        return -1;
                    if (x_value < y_value)
                        return 1;  
                    return 0;
                }).forEach(function (x) {
                    content.appendChild(x);
                });
            }
        });
        
        document.querySelector('section.materials > .grid > .controls > .sort > div').click();
        
        (function () {
            var search = document.querySelector('section.materials > .grid > .controls > .search > input');
            var close = search.nextSibling.nextSibling;
            var alt = search.getAttribute('alt')
            
            function startSearch (value) {
                if (value.length == 0) {
                    material_filter_group.removeFilter('search');
                } else {
                    material_filter_group.addFilter('search', value);
                }
                
                material_filter_group.filter();
            }
            
            search.onfocus = function () {                
                if (this.value == alt) {
                    this.value = '';
                    this.style.color = 'black';
                }                
            }
            
            search.onblur = function () {                
                if (this.value.length == 0) {
                    this.value = alt;
                    close.style.visibility = "hidden";
                }
                    
                if (this.value == alt)
                    this.style.color = 'gainsboro';    
                
            }
            
            search.onkeyup = function () {
                if (this.value.length > 2) {
                    startSearch(this.value);
                }
                close.style.visibility = "visible";
                
                if (event.keyCode == 8 && this.value.length < 3) {
                    startSearch('');
                }
            }
            
            close.onmousedown = function () {
                search.value = alt;
                search.style.color = 'gainsboro';                    
                this.style.visibility = "hidden";
                startSearch('');
            }
        })();
        
        material_filter_group.filter();
        
        if (typeof popup.content.material !== 'undefined') {
            // разбираем параметр
            var search_challenge_id = /materials\/([^&]+)/.exec(window.location.pathname);
            if (search_challenge_id && search_challenge_id.length > 1)
                popup.showMaterial(search_challenge_id[1]);
        }
    }
    </script>
{% endblock footer %}
