{% extends 'index.html' %}
{% load multicup %}
{% block head %}
<style>
    body .wrap {padding: 0 0 60px;}
    body .wrap > .grid {min-height: 800px;}
    .tabs-control {padding: 50px 0;}
    .tabs-control .edit {display: none; font-size: 15.7px; font-weight: bold; color: white; height: 30px; background-image: linear-gradient(to bottom, #208bcd, #1971bf); box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5), inset 0 1px 0 0 #55a6d8; float: right; width: 150px; line-height: 30px; text-align: center; margin: 6px 0;}
    .tabs-control .edit:hover {cursor: pointer;}
    .controls {color: #86afde; padding: 0 0 40px 0;}
    .controls > .sort > * {display: inline-block; margin: 0 20px 0 0;}
    .controls > .sort > *:hover {cursor: pointer;}
    .controls > .sort > .selected {font-weight: bold; color: white; }
    .controls > .sort .up, .controls > .sort .down {margin: 0 0 0 5px; display: none;}
    
    .members-rating {background: white; width: 100%; box-shadow: 0 22px 64px 0 rgba(0, 0, 0, 0.7);}
    .members-rating > .top-3 {padding: 66px 0 51px; text-align: center;}
    .members-rating > .top-3 > div {display: inline-block; margin: 0 50px;}
    .members-rating > .top-3 > div > div {margin: 5px 0;}
    .members-rating > .top-3 > div > .place {font-size: 30px; line-height: 0.7; font-weight: 600; position: absolute; margin: 0 0 0 -105px;}
    .members-rating > .top-3 > div > .image {width: 180px; height: 180px; background-color: gainsboro; border-radius: 180px; background-size: cover;}
    .members-rating > .top-3 > div > .bio {padding: 16px 0 0 0; font-weight: 600;}
    .members-rating > .top-3 > div > .bio:hover {cursor: pointer;}
    .members-rating > .top-3 > div > .amount {}
    .members-rating > .top-3 > div > .materials {}
    .members-rating > .top-3 > div > .city {}
    .members-rating > .table {padding: 0 0 60px 0;}
    .members-rating > .table > .row {text-align: center; padding: 4px 0;}
    .members-rating > .table > .row > div {display: inline-block; margin: 0 40px 0 0; text-align: left; vertical-align: middle;}    
    .members-rating > .table > .row > .position {margin: 0 10px 0 0; text-align: right; width: 50px;}
    .members-rating > .table > .row > .photo {height: 42px; width: 42px; background-color: gainsboro; border-radius: 42px; margin: 0 10px 0 0; background-size: cover;}
    .members-rating > .table > .row > .bio {height: 20px; width: 200px; overflow: hidden;}
    .members-rating > .table > .row > .bio:hover {cursor: pointer;}
    .members-rating > .table > .row > .amount {width: 30px; text-align: right; margin: 0 5px;}
    .members-rating > .table > .row > .amount_declension {width: 10px;}
    .members-rating > .table > .row > .likes {width: 30px; text-align: right; margin: 0 5px;}
    .members-rating > .table > .row > .likes_declension {width: 10px;}
    .members-rating > .table > .row > .materials {width: 30px; text-align: right; margin: 0 5px;}
    .members-rating > .table > .row > .materials_declension {width: 40px; margin: 0 60px 0 0;}
    .members-rating > .table > .row > .city {margin: 0; height: 20px; width: 180px; overflow: hidden;}
    
    .tab-profile {display: none;}
    
    .popup .autocomplete {border: solid 1px #999999; width: 700px; padding: 15px; text-align: left; position: absolute; background-color: #ffe8a5; display: none;}
    .popup .autocomplete > div:hover{cursor: pointer; font-weight: bold;}
    .popup .subscription_wrap {text-align: left; padding: 5px 0 0;}
    .popup .subscription_wrap input {width: 20px; margin: 0 5px 0 0;}
    .popup .popup-edit-profile textarea{height: 100px;}
        
    .slider-content {position: relative; height: 380px; width: auto; padding: 40px 0 0;}        
    .slider-content > div:nth-of-type(0),
    .slider-content > div:nth-of-type(4n) {margin: 0;}
    .slider-content > div {float: none; margin: 0 0 8px 3px; margin-bottom: 8px; vertical-align: top;}
    .slider-content > div.material > .image {width: 315px;}
    .slider-content > div.material {width: 315px;}
    .slider-content > div.material > .content {width: 269px;}
</style>
{% endblock head %}

{% block page %}
    <div class="wrap">
        <div class="grid">
            <div class="tabs-control">
                <div class="tab active" tab-class="tab-members" activate="hideProfileEdit">Участники</div>
                {% if user.is_authenticated %}
                    <div class="tab" tab-class="tab-profile" activate="showProfileEdit">Моя анкета</div>
                    <div class="edit">Редактировать</div>
                {% endif %}                
            </div>
            <div class="tab-container tab-members">                
                <div class="controls">
                    <div class="sort members-rating-sort">
                        <div class="members "><span>Участники</span><span class="up">&#8593;</span><span class="down">&#8595;</span></div>
                        <div class="amount selected desc"><span>Баллы</span><span class="up">&#8593;</span><span class="down" style="display: inline-block;">&#8595;</span></div>
                        <div class="likes"><span>Лайки</span><span class="up">&#8593;</span><span class="down">&#8595;</span></div>
                        <div class="materials"><span>Материалы</span><span class="up">&#8593;</span><span class="down">&#8595;</span></div>
                    </div>
                </div>
                <div class="rating members-rating">
                    <div class="top-3">
                        <div>
                            <span class="place">1</span>
                            <div class="image"></div>
                            <div class="bio">-</div>
                            <div class="amount">-</div>
                            <div class="materials">-</div>
                            <div class="city">-</div>
                        </div>
                        <div>
                            <span class="place">2</span>
                            <div class="image"></div>
                            <div class="bio">-</div>
                            <div class="amount">-</div>
                            <div class="materials">-</div>
                            <div class="city">-</div>
                        </div>
                        <div>
                            <span class="place">3</span>
                            <div class="image"></div>
                            <div class="bio">-</div>
                            <div class="amount">-</div>
                            <div class="materials">-</div>
                            <div class="city">-</div>
                        </div>
                    </div>
                    <div class="table" no-limit="1">            
                    </div>
                </div>
            </div>
            {% if user.is_authenticated %}
                <div class="tab-container tab-profile member-profile-container">
                    {% if member %}
                        {% member_profile member.id %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>    
{% endblock page %}

{% block footer %}
<script type="text/javascript">
var username = '{{ user.first_name|default:"" }} {{ user.last_name|default:"" }}';
var member_id = '{{ member.id|default:"0" }}';
var found_user_in_table = false;
var tableData;
var edit_button = document.querySelector('.tabs-control .edit');
var data;

function hideProfileEdit () {        
    if (edit_button)
        edit_button.style.display = 'none';    
}

function showProfileEdit () {
    edit_button.style.display = 'block';    
}

var base_js = document.querySelector('.base-js');
if (base_js) {
    base_js.onload = function () {
        
        var confirmation_text = "Все несохраненные изменения будут утерены. Точно продолжить?";
        var show_profile = /profile=([^&]+)/.exec(location.search);
        if (show_profile)            
            document.querySelectorAll('.tabs-control > .tab')[1].click();
        
        if (edit_button) {        
            var edit_profile = popup.dom.popup.querySelector('.popup-edit-profile');                        
            edit_button.onclick = function () {
                popup.show('edit-profile', {
                    member_id   : member_id                    
                }, function (content, attrs) {
                    setTimeout( function () {
                        popup.redraw();
                    }, 100);
                });
            };
            
            [].forEach.call(edit_profile.querySelectorAll("input[type='text'], textarea"), function (field) {
                if (field.value !== field.getAttribute('alt'))
                    field.style.color = 'black';
                
                field.onkeyup = function () {
                    popup.context.confirm = confirmation_text;
                }
                
                popup.redraw();
            });
            
            // редактирование профиля
            edit_profile.querySelector('.button').onclick = function () {
                var form_is_valid = true;
                var inputs = edit_profile.querySelectorAll("input[type='text'], input[type='hidden'], textarea");                
                for (var i = 0; i < inputs.length; i ++) {
                    if (inputs[i].length == 0 || inputs[i].value == inputs[i].getAttribute('alt')) {
                        var initial = inputs[i].getAttribute('initial-value');
                        if (initial && inputs[i].type == 'hidden') {
                            continue;
                        } else {
                            form_is_valid = false;
                            break;
                        }
                    }
                }
                
                var file_input = edit_profile.querySelector("input[type='file']");
                if (file_input.files.length == 0)
                    if (! edit_profile.querySelector(".file-name").getAttribute('initial-value'))
                        form_is_valid = false;
                                
                if (! form_is_valid) {
                    popup.alert("Все поля обязательны для заполнения!", 'edit-profile');
                    return;
                }
                
                //сериализация данных
                var form = edit_profile.querySelector('form');
                var data = new FormData(form);
                                       
                var xhr = new XMLHttpRequest();
               
                xhr.open("POST", '/members/edit-profile/', true);
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
               
                edit_profile.querySelector('.button').style.display = 'none';
                edit_profile.querySelector('.loading').style.display = 'block';
               
                xhr.send(data);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState != 4) return;
                    // если ответ положительный
                    if (xhr.status == 200) {         
                        var data = JSON.parse(xhr.responseText);
                        if (typeof data !== 'undefined' || typeof data['status'] === 'undefined') {
                            if ( data['status'] == 1 ) {
                                popup.context.confirm = undefined;
                                popup.hide();
                                window.location = '/members/?profile=1';
                            } else {
                                popup.alert(data['error'], 'edit-profile');  
                            }                        
                        } else {
                            console.log('При попытке сохранить нформацию возникла ошибка!');
                        }
                    } else {
                        console.log('При попытке сохранить нформацию возникла ошибка!');                
                    }
                    edit_profile.querySelector('.button').style.display = 'block';
                    edit_profile.querySelector('.loading').style.display = 'none';
                }
            }
            
            var show_welcome = /welcome=([^&]+)/.exec(location.search);
            if (show_welcome) {
                popup.alert('Добро пожаловать на сайт мультимедийного кубка! Для участия в соревнованиях вам необходимо заполнить профиль.', 'edit-profile');
                confirmation_text = "Вы не сможете участвовать в соревнованиях не заполним профиль. Точно продолжить?";                
            }
            
            var open_edit = /edit=([^&]+)/.exec(location.search);
            if (open_edit) {                
                confirmation_text = "Вы не сможете участвовать в соревнованиях не заполним профиль. Точно продолжить?";                
                document.querySelector('.tabs-control .edit').click();
            }
            
            // обработка поля Город
            edit_profile.querySelector('input.city').onkeyup = function () {
                if (this.value.length > 3) {
                    xhr = new XMLHttpRequest();
                    xhr.open("GET", 'https://geocode-maps.yandex.ru/1.x/?lang=ru_RU&format=json&geocode=' + this.value, true);
                    xhr.send();
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState != 4) return;                        
                        if (xhr.status == 200) {
                            data = JSON.parse(xhr.responseText);
                            
                            var autocomplete = document.querySelector('.popup .autocomplete');
                            var results = data.response.GeoObjectCollection.featureMember;
                            var shown = 0;
                            
                            if (results.length > 0) {
                                autocomplete.innerHTML = '';
                                for (var i = 0; i < results.length; i ++) {
                                    
                                    if (shown > 30)
                                        break;
                                    
                                    var result = results[i];
                                    
                                    if (result.GeoObject.metaDataProperty.GeocoderMetaData.kind != 'locality' ||
                                        result.GeoObject.metaDataProperty.GeocoderMetaData.AddressDetails.Country.CountryNameCode != 'RU')
                                        continue;
                                    
                                    shown ++;
                                    
                                    var row = document.createElement('div');
                                    row.innerHTML = result.GeoObject.metaDataProperty.GeocoderMetaData.AddressDetails.Country.AddressLine;
                                    row.setAttribute('result_id', i);
                                    autocomplete.appendChild(row);
                                }
                                
                                [].forEach.call(autocomplete.querySelectorAll('div'), function (div) {
                                    div.onclick = function () {
                                        var i = div.getAttribute('result_id');
                                        edit_profile.querySelector('input.city').value = div.innerHTML;
                                        edit_profile.querySelector('input.city').style.color = "black";
                                        edit_profile.querySelector('input.yandex_city').value = results[i].GeoObject.name;
                                        edit_profile.querySelector('input.yandex_position').value = results[i].GeoObject.Point.pos;
                                        edit_profile.querySelector('input.yandex_geo').value = JSON.stringify(results[i].GeoObject);
                                        edit_profile.querySelector('input.yandex_region').value = results[i].GeoObject.metaDataProperty.GeocoderMetaData.AddressDetails.Country.AdministrativeArea.AdministrativeAreaName;
                                        autocomplete.innerHTML = "";
                                        autocomplete.style.display = 'none';
                                    }
                                });
                            } else {
                                autocomplete.innerHTML = "Неверное название населенного пункта";
                            }
                            autocomplete.style.display = 'block';
                        }   
                    };
                }
            }
        }
        
        viewProfile(document.querySelector('.member-profile-container'));
    }
}

</script>
{% endblock footer %}