{% extends 'index.html' %}
{% load multicup %}
{% block head %}
<style>
    .wrap {min-height: 800px; padding:60px 0;}
    .wrap > .grid {width: 700px; background: white; min-height: 200px; box-shadow: 0 22px 64px 0 rgba(0, 0, 0, 0.7); padding: 50px 110px;}
    .title {text-align: center; margin: 0 auto 42px; font-size: 32px; font-weight: bold; color: #1a7cc8;}
</style>
{% endblock head %}

{% block page %}
    <div class="wrap">
        <div class="grid">
            <div class="title">{{page.title}}</div>            
            {{page.full_description|safe}}    
        </div>
    </div>    
{% endblock page %}

{% block footer %}
{% endblock footer %}    