{% extends 'index.html' %}
{% load multicup %}
{% block head %}
    <link href="/static/css/tasks.css" rel="stylesheet">    
{% endblock head %}

{% block page %}    
    <section class="tasks">
        <div class="grid">
            <div class="tabs-control">
                <div class="tab active" tab-class="tab-tasks">Задания</div>
                {% if user.is_authenticated %}
                    {% if member.is_juror %}                    
                        <div class="tab" tab-class="tab-juror-tasks">На проверку</div>
                    {% else %}
                        <div class="tab" tab-class="tab-my-tasks" activate="MyTasks.activate">Мои задания</div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="tab-container tab-tasks">
                <div class="filters">
                    <div class="formats filter-group">
                        {% for format in formats %}
                            <div class="filter" filter-name="format" filter-value="{{format.0}}">{{format.1}}</div>
                        {% endfor %}
                    </div>
                    <div class="costs filter-group">
                        {% for cost in costs %}
                            <div class="filter" filter-name="cost" filter-value="{{cost}}">{{cost}}</div>
                        {% endfor %}
                    </div>        
                </div>
                <div class="tasks">
                    {% for task in tasks %}
                        <div class="task {% if member.amount < task.cost and not member.is_juror %}unavailable{% endif %}" format="{{task.format}}" cost="{{task.cost}}" task-id="{{task.pk}}">
                            <p class="title">{{task.title}}</p>                        
                            <div class="description">{{task.duration_in_seconds|task_duration}}&nbsp;&nbsp;{{task.cost}}&nbsp{% declension task.cost "балл" '' 'а' 'ов' %}</div>
                        </div>        
                    {% endfor %}
                </div>
            </div>
            {% if member.is_juror or materials_for_moderation %}                
                <div class="tab-container tab-juror-tasks">
                        {% if user_is_moderator %}
                        <div class="title">На модерацию</div>
                        <div class="required-for-moderation slider-content">
                            {% if materials_for_moderation %}
                                {% slider_content materials_for_moderation 'materials' %}
                            {% else %}
                                <div class="nothing-here">У вас еще нет заданий на проверку</div>
                            {% endif %}
                        </div>
                        {% endif %}
                        <div class="title">Обязательно проверить</div>
                        <div class="required-for-check slider-content">
                            {% if materials_for_vote %}
                                {% slider_content materials_for_vote 'materials' %}
                            {% else %}
                                <div class="nothing-here">У вас нет заданий, которые нужно обязательно оценить</div>
                            {% endif %}
                        </div>                                        
                        <div class="title">Помочь другим и проверить еще заданий</div>
                        <div class="help-for-check slider-content">
                            {% if materials_for_help %}
                                {% slider_content materials_for_help 'materials' %}
                            {% else %}
                                <div class="nothing-here">Пока нет заданий, которые вы можете проверить дополнительно к своим категориям</div>
                            {% endif %}
                        </div>
                </div>
            {% endif %}
            
            {% if user.is_authenticated and not member.is_juror %}
                <div class="tab-container tab-my-tasks">
                    <div class="block task">
                        <div class="block-title">Выполнить</div>
                        <div class="task-card card">                            
                            <div class="title"></div>
                            <div class="subtitle"></div>
                            <div class="what-we-do">Что делаем:</div>
                            <div class="description"></div>
                            <div class="what-we-do how-we-do">Как делаем:</div>
                            <div class="links">
                                <a href=""></a>
                            </div>               
                            <div class="button large-button">Сдать материал</div>
                            <div class="error-msg success-msg">Ура! Ваше задание отправлено на модерацию. После проверки оно будет доступно жюри для оценки, а вы сможете приступить к выполнению следующего задания.</div>
                            <div class="error-msg"></div>                                
                            <div class="link-under-button"></div>
                            <form>
                                {% include "parts/add-comment-box.html" %}
                            </form>
                            <div class="bottom">
                                <a class="how" href="/page/scores/">Как считаются баллы за выполненные задания?</a>
                                <div class="completed"></div>
                            </div>                                
                        </div>
                    </div>
                    <div class="block completed">
                        <div class="block-title">Выполненные задания</div>
                        <div class="slider-content"></div>
                    </div>
                    <div class="block unpublished">
                        <div class="block-title">Неопубликованные задания</div>
                        <div class="slider-content"></div>
                    </div>                    
                </div>
            {% endif %}
        </div>
    </section>    
    <style>
        .popup2 {display: none;}
        .popup2 .popup-content-block {display: none;}
    </style>
{% endblock page %}

{% block footer %}
    <script type="text/javascript">
        var User = {
            amount : {% if member %} {{member.amount|default:0}} {% else %} undefined {% endif %}
        }            
    </script>
    <script src="/static/js/tasks.js"></script>
{% endblock footer %}