{% for record in data|slice:':9' %}
    {% if record.type == 'post' %}
        <div class="material post" post_url="{% if record.post.url_name %}{{record.post.url_name }}{% else %}{{record.post.id}}{% endif %}">
            <div class="image" style="background-image: url('/media/{{record.post.image|default:""}}');"></div>
            <div class="content">
                <div class="title">{{record.post.title|default:""}}</div>
                <div class="description">{{record.post.short_description|default:""}}</div>
            </div>    
        </div>
    {% endif %}
    {% if record.type == 'member' %}
        <div class="member" member-id="{{record.member.id}}" >                                        
            <div class="image" style="background-image: url('/media/{{record.member.photo|default:""}}');"></div>
            <div class="content">
                <div><b>{{record.member.user.first_name|default:""}}&nbsp;{{record.member.user.last_name|default:""}}</b></div>
                <div>{{record.member.amount_declension|default:"0 баллов"}}</div>
                <div>{{record.member.challenge_completed|default:"0 материалов"}}</div>
                <div>{{record.member.city|default:""}}</div>
            </div>    
        </div>
    {% endif %}
    {% if record.type == 'juror' %}
        <div class="member" member-id="{{record.juror.member.id}}">                                        
            <div class="image" style="background-image: url('/media/{{record.juror.member.photo|default:""}}');"></div>
            <div class="content">
                <div><b>{{record.juror.member.user.first_name|default:""}}&nbsp;{{record.juror.member.user.last_name|default:""}}</b></div>
                <div>{{record.juror.member.status|default:""}}</div>
                <div>{{record.juror.member.company|default:""}}</div>
                <div>{{record.juror.member.city|default:""}}</div>
            </div>    
        </div>
    {% endif %}
    {% if record.type == 'material' %}            
        <div class="material" challenge-id="{{record.material.challenge.id}}">
            <div class="image" style="background-image: url('/media/{{record.material.image|default:""}}');"></div>
            <div class="content">
                <div class="title">{{record.material.title|default:""}}</div>
                <div class="userinfo">
                    <div class="bio">{{record.material.member.user.first_name|default:""}}&nbsp;{{record.material.member.user.last_name|default:""}}</div>
                    <div class="amount">{{record.material.challenge.total_amount_declension}}</div>                            
                </div>
                <div class="task">{{record.material.task.title|default:""}}</div>
                <div class="taskinfo">
                    <div class="type">{{record.material.task.format_verbose|default:""}}</div>
                    <div class="amount">{{record.material.task.cost_declension|default:"0 баллов"}}</div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}                
