{% for d in data %}
    <div class="material" challenge-id="{{d.challenge.id}}" status="{{d.challenge.status}}" cost="{{d.task.cost|default:0}}" mine="{{d.mine|default:0}}" likes="{{d.result.likes|default:0}}" votes="{{d.challenge.vote_amount|default:0}}">
        <div class="image" style="background-image: url(
            {% if d.challenge.status == 'wom' %}
                {% if d.task.image %}
                    /media/{{d.task.image}}
                {% endif %}            
            {% else %}
                {% if d.result.image %}
                    /media/{{d.result.image}}
                {% endif %}            
            {% endif %}            
            );"></div>
        <div class="content">
            <div class="title">
                {% if d.result.title %}
                    {{d.result.title|truncatechars:39}}
                {% else %}
                    -
                {% endif %}
            </div>            
            {% if d.challenge.status == 'wom' or d.challenge.status == 'decline' %}
                <div class="userinfo userinfo-short">
                    <div class="bio">{{d.user.first_name}}&nbsp;{{d.user.last_name}}</div>
                    <div class="amount">{{d.challenge.total_amount_declension}}</div>
                    <div class="error-status">{{d.challenge.status_verbose}}</div>
            {% else %}
                <div class="userinfo">
                    <div class="bio">{{d.user.first_name}}&nbsp;{{d.user.last_name}}</div>
                    <div class="amount">{{d.challenge.total_amount_declension}}</div>                            
            {% endif %}
                </div>            
            <div class="task">                
                {{d.task.title|truncatechars:31}}                
                &nbsp;
            </div>
            <div class="taskinfo">
                <div class="type">{{d.task.format_verbose}}</div>
                <div class="amount">{{d.task.cost_declension}}</div>
            </div>
        </div>
    </div>
{% endfor %}