<div class="slider">
    <div class="arrow-left"><object data="/media/slider-arrow.svg" type="image/svg+xml"></object></div>
    <div class="slider-wrap">
        <div
                class="slider-content"
                data-length="{{ data|length|default:0 }}"
                slider="{{name}}"
                style="
                    {% if data|length > 8 %}
                        width:2610px;
                    {% else %}                        
                        width:{% widthratio data|length 1 290 %}px;
                    {% endif %}
                "
            >
            {{slider_content}}
        </div>
    </div>
    <div class="arrow-right"><object data="/media/slider-arrow.svg" type="image/svg+xml"></object></div>
</div>

