{% load multicup %}
<section class="popup">
    <div class="grid">
        <object class="top-parallelepiped" data="/media/parallelepipeds.svg" type="image/svg+xml"></object>
        <div class="popup-content-block alert" popup-content-name='alert' class="card">
            <div class="close-popup">╳</div>
            <div class="message"></div>
            <div class="button ok">Ок</div>
            <div class="button cancel">Отмена</div>
        </div>
        <div class="popup-content-block popup-view-profile member-profile-container" popup-content-name='view-profile'>
        </div>
        {% if request.path == '/members/' %}
            <div class="popup-content-block popup-edit-profile edit-form" popup-content-name='edit-profile'>
                <form type="POST" class="card">
                    <div class="close-popup">╳</div>
                    <div class="title">Редактировать профиль</div>
                    <div class="what-we-do">Загрузите фото</div>
                    <div class="photo">
                        <input type="file" class="upload" id="file" name="file" />
                        <label for="file">Прикрепить фото</label>
                        {% if member.photoname %}
                            <span class="file-description" style="display:none;">формат: .jpeg .png; разрешение: 128px на 128px; размер: до 2Мб</span>
                            <span class="file-name" initial-value="{{member.photoname}}">{{member.photoname}}</span>
                            <span class="delete-file" style="display:none;">Удалить?</span> 
                        {% else %}
                            <span class="file-description">Фото должно быть квадратным ( не меньше 128х128px), в формате .jpeg или .png и размером до 2Мб</span>
                            <span class="file-name"></span>
                            <span class="delete-file">Удалить?</span>    
                        {% endif %}                        
                    </div>
                    <div class="what-we-do">Имя</div>
                    <input type="text" class="first_name" name="first_name" value="{{member.user.first_name|default:'Имя'}}" alt="Имя">
                    <div class="what-we-do">Фамилия</div>
                    <input type="text" class="last_name" name="last_name" value="{{member.user.last_name|default:'Фамилия'}}" alt="Фамилия">
                    <div class="what-we-do">E-mail</div>
                    <input type="text" class="email" name="email" value="{{member.user.email|default:'example@mail.com'}}" alt="example@mail.com">
                    <div class="what-we-do">Возраст</div>
                    <input type="text" class="age" name="age" value="{{member.age|default:'0'}}" alt="0">
                    <div class="what-we-do">Город</div>
                    <input type="text" class="city" name="city" value="{{member.city|default:'Введите название города и выберите вариант из списка'}}" {% if member.city %} initial-value="{{member.city}}" {% endif %} alt="Введите название города и выберите вариант из списка" autocomplete="off">
                    <div class="autocomplete">Загрузка...</div>
                    <input type="hidden" class="yandex_city" name="yandex_city" value="">
                    <input type="hidden" class="yandex_position" name="yandex_position" value="">
                    <input type="hidden" class="yandex_region" name="yandex_region" value="">
                    <input type="hidden" class="yandex_geo" name="yandex_geo" value="">
                    <div class="what-we-do">Профессия</div>
                    <input type="text" class="status" name="status" value="{{member.status|default:'Профессия'}}" alt="Профессия">
                    <div class="what-we-do">Место работы</div>
                    <input type="text" class="company" name="company" value="{{member.company|default:'Место работы'}}" alt="Место работы">
                    <div class="what-we-do">Должность</div>                    
                    <input type="text" class="job" name="job" value="{{member.job|default:'Должность'}}" alt="Должность">
                    {% if member.is_juror %}
                        <div class="what-we-do">Стаж работы</div>
                        <input type="text" class="experience" name="experience" value="{{member.juror.experience|default:'0'}}" alt="0">
                    {% endif %}
                    <div class="what-we-do">Ссылка на сайт основного проекта</div>
                    <input type="text" class="project" name="project" value="{{member.project|default:'http://example.com'}}" alt="http://example.com">                    
                    <div class="what-we-do">Ссылки на социальные сети</div>
                    <textarea class="socials" alt="http://example.com&#010;http://example2.com" name="socials" value="{{member.socials|default:'http://example.com&#010;http://example2.com'}}">{{member.socials|default:'http://example.com&#010;http://example2.com'}}</textarea>
                    <div class="what-we-do">Краткий рассказ о себе</div>
                    <textarea class="summary" alt="Краткий рассказ о себе" name="summary" value="{{member.summary|default:'Краткий рассказ о себе'}}">{{member.summary|default:'Краткий рассказ о себе'}}</textarea>                    
                    <div class="subscription_wrap"><input type="checkbox" class="subscription" name="subscription" {% if member.subscription %}checked="checked"{% endif %}>Получать письма на почту (адрес почты взят из вашей социальной сети)</div>
                    <div class="button large-button">Сохранить</div>
                    <div class="loading">Идет загрузка...</div>
                </form>   
            </div>
        {% endif %}
        <div class="popup-content-block task-description" popup-content-name='task'>
            <div class="card">
                <div class="close-popup">╳</div>
                <div class="title"></div>
                <div class="subtitle"></div>
                <div class="what-we-do">Что делаем:</div>
                <div class="description"></div>                
                {% if not member.is_juror %}
                    {% if user.is_authenticated %}                        
                        <div class="button buy large-button">Вы не можете участвовать в конкурсе</div>
                        <div class="error cannot-buy"></div>                        
                    {% else %}
                        <div class="button buy login large-button">Зарегистрироваться и выполнить задание</div>                    
                    {% endif %}
                    <a class="link-under-button" href="/page/scores/">Как считаются баллы за выполненные задания?</a>
                {% else %}    
                    <div class="what-we-do how-we-do">Как делать:</div>
                    <div class="links">
                        <a href=""></a>
                    </div>               
                {% endif %}           
            </div>
            <div class="how-it-made">
                    <div class="information">
                        <div class="title">Как это сделали другие</div>
                        <div class="count">Уже сделали 15 человек</div>
                    </div>
                    <div class="slider"></div>
            </div>
            {% if member.is_juror %}
                <div class="not-checked">
                    <div class="information">
                        <div class="title">Еще не проверили</div>
                    </div>
                    <div class="slider"></div>
                </div>
                <div class="checked">
                    <div class="information">
                        <div class="title">Проверенные</div>
                    </div>
                    <div class="slider"></div>
                </div>
            {% endif %}
        </div>
        {% if user.is_authenticated and not member.is_juror and request.path == '/tasks/' %}
            <div class="popup-content-block complete-task edit-form" popup-content-name='complete-task'>
                <form type="POST" class="card">
                    <div class="close-popup">╳</div>
                    <div class="title">Сдать задание</div>
                    <div class="what-we-do">Загрузите фото</div>
                    <div class="photo">
                        <input type="file" class="upload" id="file" name="file" />
                        <label for="file">Прикрепить фото</label>
                        <span class="file-description">формат: .jpeg .png; разрешение: 700x225px; размер: до 2Мб</span>
                        <span class="file-name"></span>
                        <span class="delete-file">Удалить?</span>
                    </div>
                    <div class="what-we-do">Заголовок</div>
                    <input type="text" class="title" name="title" value="Название материала" alt="Название материала">
                    <div class="what-we-do">Описание</div>
                    <textarea class="description" alt="Краткое описание" name="description" value="Краткое описание">Краткое описание</textarea>
                    <div class="what-we-do">Ссылка на материал</div>
                    <input type="text" class="link-title" value="Название для ссылки" name="link-title" alt="Название для ссылки">
                    <input type="text" class="link" value="http://example.com" alt="http://example.com" name="link">
                    <div class="button large-button">Сдать задание</div>
                    <div class="loading">Идет загрузка...</div>
                </form>                                    
            </div>
        {% endif %}
        <div class="popup-content-block popup-material-card" popup-content-name='material'>
            <div class="close-popup">╳</div>
            <div>                                        
                <div class="material-info">
                    <div class="image"></div>
                    <div class="wrap">
                        <div class="title"></div>
                        <div class="description"></div>
                        <a href="" class="link"></a>
                        <div class="member-info">
                            <div class="avatar"></div>
                            <div class="bio-and-place">
                                <div class="bio"></div>
                                <div class="place"></div>
                            </div>
                            <div class="right">
                                <div class="amount">Баллы:&nbsp;<span></span></div>
                                <div class="likes">Лайки:&nbsp;<span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-wrap">
                    <a href="/page/scores/" class="about-amount">Как считаются баллы за выполненные задания?</a>                    
                    <div class="share">
                        <span>Мне нравится:</span>
                        <div class="fb-like" data-href="" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>                            
                        <div id="vk-like"></div>
                        <span>Поделиться:</span>
                        <div class="fb-share"><object data="/media/fb-share.svg" type="image/svg+xml"></object></div>                
                        <div class="vk-share"></div>
                    </div>
                    <div class="task-info">
                        <div class="blue-paragraph-title">Какое было задание?</div>
                        <div class="title"></div>
                        <div class="subtitle"></div>
                        <div class="description"></div>
                        <div class="links"></div>
                    </div>
                    <div class="error-msg"></div>
                    {% if user.is_authenticated and user|has_group:"Moderator" %}
                        <div class="moderation accept">
                            <div class="panel">                                
                                <div class="accepted">Опубликовать</div>
                                <div class="decline">Отклонить</div>
                            </div>
                            {% include "parts/add-comment-box.html" %}
                        </div>
                        <div class="moderation add-time">
                            <div class="error">Нужно ввести целое число больше нуля</div>
                            <span>Добавить участнику <input> часов на выполнение задачи и вернуть баллы</span>
                            <div class="add">Добавить</div>
                        </div>
                    {% endif %}
                    {% if user.is_authenticated and member.is_juror %}
                        <form class="juror-vote-form">
                            <div class="juror-vote-box">
                                <div class="blue-paragraph-title">Ваша оценка</div>
                                <div class="votes">
                                    <div class="vote">                                        
                                        <div class="title">Логика изложения</div>
                                        <div class="numbers">
                                            <input type="hidden" name="vote_1">
                                            <span>10</span>
                                            <span>9</span>
                                            <span>8</span>
                                            <span>7</span>
                                            <span>6</span>
                                            <span>5</span>
                                            <span>4</span>
                                            <span>3</span>
                                            <span>2</span>
                                            <span>1</span>
                                        </div>
                                    </div>
                                    <div class="vote">
                                        <div class="title">Качество реализации</div>
                                        <div class="numbers">
                                            <input type="hidden" name="vote_2">
                                            <span>10</span>
                                            <span>9</span>
                                            <span>8</span>
                                            <span>7</span>
                                            <span>6</span>
                                            <span>5</span>
                                            <span>4</span>
                                            <span>3</span>
                                            <span>2</span>
                                            <span>1</span>
                                        </div>
                                    </div>
                                    <div class="vote">
                                        <div class="title">Значимость для целевой аудитории</div>
                                        <div class="numbers">
                                            <input type="hidden" name="vote_3">
                                            <span>10</span>
                                            <span>9</span>
                                            <span>8</span>
                                            <span>7</span>
                                            <span>6</span>
                                            <span>5</span>
                                            <span>4</span>
                                            <span>3</span>
                                            <span>2</span>
                                            <span>1</span>
                                        </div>
                                    </div>
                                    <div class="vote">
                                        <div class="title">Нестандартность решения</div>
                                        <div class="numbers">
                                            <input type="hidden" name="vote_4">
                                            <span>10</span>
                                            <span>9</span>
                                            <span>8</span>
                                            <span>7</span>
                                            <span>6</span>
                                            <span>5</span>
                                            <span>4</span>
                                            <span>3</span>
                                            <span>2</span>
                                            <span>1</span>
                                        </div>
                                    </div>
                                    <div class="vote">
                                        <div class="title">Баланс формы и содержания</div>
                                        <div class="numbers">
                                            <input type="hidden" name="vote_5">
                                            <span>10</span>
                                            <span>9</span>
                                            <span>8</span>
                                            <span>7</span>
                                            <span>6</span>
                                            <span>5</span>
                                            <span>4</span>
                                            <span>3</span>
                                            <span>2</span>
                                            <span>1</span>
                                        </div>
                                    </div>
                                    <div class="vote">
                                        <input type="hidden" name="average_vote">
                                        <div class="title">Средний балл</div>
                                        <div class="numbers average">0.0</div>
                                    </div>
                                </div>
                            </div>
                            {% include "parts/add-comment-box.html" %}
                        </form>
                    {% endif %}
                    <div class="comment-box">
                        <div class="blue-paragraph-title juror-comment">Комментарий жюри</div>
                        <div class="blue-paragraph-title moderator-comment">Комментарий модератора</div>
                        <div class="comment-box-wrap">
                            <div class="juror-info">
                                <div class="avatar"></div>
                                <div class="info">
                                    <div class="bio"></div>
                                    <div class="job"></div>
                                </div>
                                <div class="vote">Оценка:&nbsp;<span></span></div>
                            </div>
                            <div class="comment"></div>
                        </div>
                        <div class="disput">Оспорить</div>
                        <form>
                            {% include "parts/add-comment-box.html" %}
                        </form>
                    </div>                        
                </div>
            </div>
        </div>                    
    </div>
    <div class="bottom">
        <object class="bottom-parallelepiped" data="/media/parallelepipeds.svg" type="image/svg+xml"></object>
    </div>
</section>