{% load multicup %}
<div class="user-profile">
    <div class="top">
        <div class="avatar" {% if displayed_member.photo %}style="background-image: url('/media/{{displayed_member.photo}}');"{% endif %}></div>
        <div class="info">
            <div class="bio">{{displayed_member.user.first_name}}&nbsp;{{displayed_member.user.last_name}}</div>
            <div class="row-1">
                {% if displayed_member.age %}{{displayed_member.age}}&nbsp;{% declension displayed_member.age "" "год" "года" "лет" %}{% endif %}
                {% if displayed_member.city != '' %},&nbsp;{{displayed_member.city}}{% endif %}
                {% if displayed_member.region != '' %},&nbsp;{{displayed_member.region}}{% endif %}                
            </div>
            <div class="row-2">
                {% if displayed_member.status != '' %}{{displayed_member.status}}{% endif %}
                {% if displayed_member.company != '' %}</br>{{displayed_member.company}}{% endif %}
                {% if displayed_member.job != '' %}</br>{{displayed_member.job}}{% endif %}
            </div>
            {% if displayed_member.is_juror %}
                <div class="row-3">Стаж работы:&nbsp;{{displayed_member.juror.experience}}</div>
            {% endif %}
        </div>
        <div class="links">{% member_links displayed_member %}</div>
    </div>
    <div class="description">{{displayed_member.summary|linebreaksbr}}</div>
    {% if not displayed_member.is_juror %}
        <div class="bottom">
            <div class="completed">Выполнил заданий:<span>{{displayed_member.challenge_completed}}</span></div>
            <div class="position">Рейтинг:<span>{{displayed_member.rating}}</span></div>
            <div class="amount">{{displayed_member.amount}}&nbsp;{% declension displayed_member.amount "балл" '' 'а' 'ов' %}</div>
            <div class="likes">{{displayed_member.likes}}&nbsp;{% declension displayed_member.likes "лайк" '' 'а' 'ов' %}</div>            
        </div>
    {% endif %}
</div>
<div class="category-filters filter-group {% if displayed_member.is_juror or not from_tag %}without-filters{% endif %}">
    {% if displayed_member.is_juror %}
        <div class="active-category">Проверенные задания</div>
    {% elif not from_tag %}
        <div class="active-category">Опубликованные материалы</div>
    {% else %}
        <div class="active-category">Опубликованные материалы</div>
        <div class="category filter-group activated filter" filter-name="status" filter-value="accepted,voted">Опубликованные материалы</div>
        <div class="category filter-group filter" filter-name="status" filter-value="wm">На проверке</div>
        <div class="category filter-group filter" filter-name="status" filter-value="decline">Отклоненные</div>
        <div class="category filter-group filter" filter-name="status" filter-value="initial">В работе</div>
    {% endif %}
</div>
{% if member_materials %}
    <div class="slider-content">    
        {% slider_content member_materials 'materials' %}
    </div>
{% endif %}