{% extends "email/email.html" %}

{% block content %}
    <tr><td>До сдачи материала по конкурсному заданию осталось совсем немного. Напоминаем: после дедлайна возможность сдать материал будет заблокирована и вы потеряете потраченные на него баллы. </td></tr>
    <tr height="20px"></tr>
    <tr><td><center width="100%"><a style="display: block; color: #1a7cc8; -webkit-text-size-adjust: none;" href="{{server_url}}tasks/?my=1">Перейти к задаче</a></center></td></tr>
{% endblock content %}