{% extends "email/email.html" %}

{% block content %}
    <tr><td>Что-то пошло не так!</td></tr>
    <tr height="20px"></tr>    
    <tr><td>Ваш материал по конкурсному заданию не прошел модерацию и вы не вернули потраченные на него баллы. Хотите оспорить? Напишите модератору с карточки своего материала и подробно объясните, почему он подходит этому заданию. Возможно, его решение изменится.</td></tr>
    <tr height="20px"></tr>
    {% if comment %}
        <tr><td>Комментарий модератора:</td></tr>
        <tr><td>{{comment}}</td></tr>        
        <tr height="20px"></tr>
    {% endif %}    
    <tr><td><center width="100%"><a style="display: block; color: #1a7cc8; -webkit-text-size-adjust: none;" href="{{server_url}}materials/?ch={{challenge_id}}">Перейти к материалу</a></center></td></tr>
{% endblock content %}