{% extends "email/email.html" %}

{% block content %}
    <tr><td>Отличная работа!</td></tr>
    <tr height="20px"></tr>
    <tr><td>Мы проверили ваш материал по выполненному заданию и опубликовали его на сайте конкурса. Вы можете выполнять новое задание. Вскоре после оценки экспертов вам добявятся новые баллы. Не забудьте расшарить карточку материала в соцсетях и пригласить читателей — их лайки тоже влияют на ваш рейтинг.</td></tr>
    <tr height="20px"></tr>
    <tr><td><center width="100%"><a style="display: block; color: #1a7cc8; -webkit-text-size-adjust: none;" href="{{server_url}}materials/?ch={{challenge_id}}">Перейти к материалу</a></center></td></tr>
{% endblock content %}