<p>Твои материалы к задаче "{{task.title}}" на сайте <a href="{{settings.SERVER_URL}}">Кубка мультимедийного вызова</a> были проверены модератором и открыты для оценки жюри.</p>
<p>Баллы за выполнение задачи вернулись на твой счет. Теперь ты можешь приступать к выполнению нового задания, пока жюри оценивают текущую работу.</p>
<p>Удачи в новом задании!</p>