<p>К сожалению, твои материалы к задаче "{{task.title}}" на сайте <a href="{{settings.SERVER_URL}}">Кубка мультимедийного вызова</a> были проверены модератором и отклонены.</p>
<p>Комментарий от модератора:</p>
<p class="moderator-comment">{{comment}}</p>
<p>Баллы за выполнение задачи сгорели. Ты можешь приступить к выполнению нового задания. Если ты не согласен с решением модератора, ты можешь оспорить решение на странице описания задачи на сайте.</p>
<p>Удачи в новом задании!</p>