{% extends "email/email.html" %}

{% block title %}
    [НА ОЦЕНКУ #{{challenge.id}}] Поступили новые материалы на сайте Кубке Мультимедийного вызова
{% endblock title %}

{% block preheader %}
    На сайте Кубка мультимедийного вызова опубликованы новые материалы для оценки.
{% endblock preheader %}

{% block content %}
    <p>Привет, {{user.first_name}}!</p>
    <br>                        
    <p>На сайте <a href="{{settings.SERVER_URL}}">Кубка мультимедийного вызова</a> опубликованы новые материалы для задачи "{{task.title}}" на оценку.</p>
    <p>Для просмотра материалов кликните по кнопке ниже:</p>                           
    <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
      <tbody>
        <tr>
          <td align="left">
            <table border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td> <a href="" target="_blank">Оценить материалы</a> </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <p>С уважением,<br>Администрация сайта Кубка мультимедийного вызова kubok.newmediaedu.ru</p>
    <p><br></p>                        
    <p class="gray">Ты получил это письмо, так как назначен Жюри на сайте <a href="{{settings.SERVER_URL}}">Кубка мультимедийного вызова</a>. Если это произошло по ошибке, пожалуйста, отправь ответное сообщение с указание слова "ОШИБКА".</p>
{% endblock content %}