{% extends "email/email.html" %}

{% block content %}
    <tr><td>Поздравляем!</td></tr>
    <tr height="20px"></tr>
    <tr><td>Вам добавлено время на выполнение конкурсного задания с отклоненным материалом, а потраченные баллы возвращены. Поспешите исправить материал и сдать новый результат вовремя. Удачи!</td></tr>
    <tr height="20px"></tr>
    <tr><td><center width="100%"><a style="display: block; color: #1a7cc8; -webkit-text-size-adjust: none;" href="{{server_url}}tasks/?my=1">Перейти к задаче</a></center></td></tr>
{% endblock content %}