{% extends "email/email.html" %}

{% block content %}
    <tr><td>Внимание!</td></tr>
    <tr height="20px"></tr>
    <tr><td>К сожалению, вы не успели опубликовать материал к конкурсному заданию и потеряли баллы. Не расстраиваетесь, вы можете попробовать выполнить другое задание, если у вас остались баллы. Если вы считаете, что это произошло по ошибке, вы можете написать модератору в карточке материалов.</td></tr>
    <tr height="20px"></tr>
    <tr><td><center width="100%"><a style="display: block; color: #1a7cc8; -webkit-text-size-adjust: none;" href="{{server_url}}tasks/?my=1">Перейти к заданиям</a></center></td></tr>
{% endblock content %}