{% extends "email/email.html" %}

{% block title %}
    {{title}}
{% endblock title %}

{% block preheader %}    
{% endblock preheader %}

{% block content %}
    <p>Привет, {{user.first_name}}!<br></p>
    {{content_text}}    
    <p><br>С уважением,<br>Администрация сайта Кубка мультимедийного вызова kubok.newmediaedu.ru</p>
    <p><br></p>                        
    <p class="gray">Ты получил это письмо, так как зарегистрировался для участния на сайте <a href="{{settings.SERVER_URL}}">Кубка мультимедийного вызова</a>. Если ты не хочешь получать данную рассылку, зайди в личный кабинет и отключи рассылку уведомлений на сайте.</p>
{% endblock content %}