{% extends "email/email.html" %}

{% block title %}
    [ОТКРЫТ СПОР #{{challenge.id}}] Участник открыл спор на сайте Кубка Мультимедийного вызова
{% endblock title %}

{% block preheader %}
    На сайте Кубка мультимедийного вызова открыт новый спор участником.
{% endblock preheader %}

{% block content %}
    <p>Привет, {{moderator.first_name}}!</p>
    <br>                        
    <p>Пользователь {{user.first_name}} {{user.last_name}} открыл спор по задаче "{{task.title}}" на сайте <a href="{{settings.SERVER_URL}}">Кубка мультимедийного вызова</a>.</p>
    <p>Комментарий участника:</p>    
    <p class="moderator-comment">{{comment}}</p>
    <p>Вы можете ответить участнику новым письмом на адрес {{user.email}}</p>
    <p><br>С уважением,<br>Администрация сайта Кубка мультимедийного вызова kubok.newmediaedu.ru</p>
    <p><br></p>                        
    <p class="gray">Ты получил это письмо, так как назначен Модератором на сайте <a href="{{settings.SERVER_URL}}">Кубка мультимедийного вызова</a>. Если это произошло по ошибке, пожалуйста, отправь ответное сообщение с указание слова "ОШИБКА".</p>
{% endblock content %}