<p>Поздравляем, тебе было добавлено время на выполнение задачи "{{task.title}}" на сайте <a href="{{settings.SERVER_URL}}">Кубка мультимедийного вызова</a>!</p>
<p>Успей в срок доработать свое решение и прирепить новый ответ к задаче на сайте.</p>
<p>Удачи в выполнении заданий!</p>