{% extends "email/email.html" %}

{% block title %}
    [НА ПРОВЕРКУ #{{challenge.id}}] Поступили новые материалы на сайте Кубке Мультимедийного вызова
{% endblock title %}

{% block preheader %}
    На сайте Кубка мультимедийного вызова опубликованы новые материалы для проверки.
{% endblock preheader %}

{% block content %}
    <p>Привет, {{moderator.first_name}}!</p>
    <br>                        
    <p>Пользователь {{user.first_name}} {{user.last_name}} опубликовал новые материалы для задачи "{{task.title}}" на сайте <a href="{{settings.SERVER_URL}}">Кубка мультимедийного вызова</a>.</p>
    <p>Материалы ожидают модерации.</p>
    <p>Для просмотра материалов зайдите в Административную панель сайта или кликните по кнопке ниже:</p>                           
    <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
      <tbody>
        <tr>
          <td align="left">
            <table border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td> <a href="{{settings.SERVER_URL}}{{settings.ADMIN_PATH}}/challenges/challenge/{{challenge.id}}/change/" target="_blank">Перейти к модерации</a> </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <p>С уважением,<br>Администрация сайта Кубка мультимедийного вызова kubok.newmediaedu.ru</p>
    <p><br></p>                        
    <p class="gray">Ты получил это письмо, так как назначен Модератором на сайте <a href="{{settings.SERVER_URL}}">Кубка мультимедийного вызова</a>. Если это произошло по ошибке, пожалуйста, отправь ответное сообщение с указание слова "ОШИБКА".</p>
{% endblock content %}