{% extends "email/email.html" %}

{% block content %}
    <tr><td>Поздравляем!</td></tr>
    <tr height="20px"></tr>
    <tr><td>Вы стали участником конкурса «Кубок мультимедийного вызова». Покажите свое мультимедийное мастерство!</td></tr>
    <tr height="20px"></tr>
    <tr><td>Выполняйте задания, создавайте крутые материалы и обгоняйте других участников. Приглашайте коллег из своего города и округа участвовать в конкурсе и соревнуйтесь с другими регионами, делитесь своими конкурсными материалами в социальных сетях и зовите болельщиков поддерживать вас. Не забывайте, что приятные призы получат не только индивидуальные победители, но и целые города ;)</td></tr>
    <tr height="20px"></tr>
    <tr><td><center width="100%"><a style="display: block; color: #1a7cc8; -webkit-text-size-adjust: none;" href="{{server_url}}tasks/">Выбрать задание</a></center></td></tr>
{% endblock content %}