<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>  
  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:40px 0 0;" width="100%">
      <tr>
        <td>
          <center style="width: 100%;">
            <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; max-width: 600px; font: 18px 'MS Sans Serif', sans-serif;">
              <tr>
                <td>
                  <center style="width: 100%;">
                    <img width="199" height="87" src="{{server_url}}media/mail-logo.png" alt="" style="display:block;">
                  </center>
                </td>
              </tr>
              <tr height="50px"></tr>
              <tr><td><span style="font-size: 32px;"><b>{{title|default:""}}{% block title %}{% endblock title %}</b></span></td></tr>
              <tr height="30px"></tr>
              {{content|default:""}}{% block content %}{% endblock content %}
              <tr height="20px"></tr>
              <tr><td>Команда</td></tr>
              <tr><td>Кубка мультимедийного вызова</td></tr>
              <tr height="155px">
                <td>
                  <center style="width: 100%;">
                    <img width="188" height="46" src="{{server_url}}media/mail-foot.png" alt="" style="display:block;">
                  </center>
                </td>
              </tr>
              <tr>
                <td>
                  <center style="width: 100%;">                    
                    <a href="{{server_url}}rules/" target="_blank" style="color: #989898; font: 13px 'MS Sans Serif', sans-serif; line-height: 13px; -webkit-text-size-adjust:none; padding: 0 10px;">Условия конкурса</a>
                    <a href="{{server_url}}join/" target="_blank" style="color: #989898; font: 13px 'MS Sans Serif', sans-serif; line-height: 13px; -webkit-text-size-adjust:none; padding: 0 10px;">Как стать участником</a>
                    <a href="{{server_url}}faq/" target="_blank" style="color: #989898; font: 13px 'MS Sans Serif', sans-serif; line-height: 13px; -webkit-text-size-adjust:none; padding: 0 10px;">Вопросы и ответы</a>
                    <a href="{{server_url}}members/?profile=1" target="_blank" style="color: #989898; font: 13px 'MS Sans Serif', sans-serif; line-height: 13px; -webkit-text-size-adjust:none; padding: 0 10px;">Отписаться</a>
                  </center>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>      
    </table>
  </body>
</html>