{% extends "email/email.html" %}

{% block content %}
    <tr><td>На сайте конкурса “Кубок мультимедийного вызова” появился новый материал от участника. Пожалуйста, проверьте его и поставьте свою экспертную оценку.</td></tr>
    <tr height="20px"></tr>
    <tr><td><center width="100%"><a style="display: block; color: #1a7cc8; -webkit-text-size-adjust: none;" href="{{server_url}}materials/{{challenge_id}}">Перейти к материалу</a></center></td></tr>
{% endblock content %}