{% extends "email/email.html" %}

{% block content %}
    <tr><td>Уважаемый модератор!</td></tr>
    <tr height="20px"></tr>
    <tr><td>Участник {{bio}} открыл спор в ответ на отклонение его материала. Вам необходимо ответить ему по адресу ({{email}}) для решения этого вопроса.</td></tr>
    <tr height="20px"></tr>
    <tr>Комментарий участника:</tr>
    <tr>{{comment}}</tr>
    <tr height="20px"></tr>
    <tr><td><center width="100%"><a style="display: block; color: #1a7cc8; -webkit-text-size-adjust: none;" href="{{server_url}}materials/?ch={{challenge_id}}">Перейти к материалу</a></center></td></tr>
{% endblock content %}